@import "../vars";
@import "../template";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

.header {
	padding: 16px 135px 58px 135px;
	background-color: $bg-color-dark;
	.header__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 58px;
		.logo-container {
			display: flex;
			align-items: center;
			column-gap: 14px;
			.logo-container__img {
				height: 48px;
				width: 48px;
				@include img-style;
			}
			.logo-container__name {
				@extend %text-logo;
				color: $text-light;
			}
		}
		.header__menu {
			.menu {
				display: flex;
				justify-content: space-between;
				min-width: 36vw;
				list-style: none;
				.menu__item {
					.menu__item-link {
						@extend %text-explanation;
						text-decoration: none;
						color: $text-light;
					}
				}
			}
		}
		.header__button-contact {
			@include button;
			@include hover-cursor;
			@media screen and (max-width: 1024px) {
				display: none;
			}
		}
	}

	.header__info {
		display: flex;
		justify-content: space-between;
		padding-top: 56px;
		.main-description {
			display: flex;
			flex-direction: column;
			max-width: 36vw;
			.main-description__subtitle {
				@extend %orange-subtitle;
				text-align: left;
				margin-top: 10px;
			}
			.main-description__title {
				margin: 24px 0;
				@extend %text-h1;
				color: $text-light;
				position: relative;
				z-index: 1;
				&::before {
					content: url("../../images/main/star.svg");
					width: 148px;
					height: 148px;
					position: absolute;
					right: 17%;
					top: -17%;
					z-index: -1;
				}
			}

			.main-description__explanation {
				max-width: 470px;
				@extend %text-explanation;
				color: $text-light-gray;
			}
			.main-description__buttons {
				display: flex;
				align-items: center;
				column-gap: 46px;
				margin-top: 34px;
				.main-description__description-button {
					@include button;
					width: 154px;
					background-color: $text-dark-accent;
					border: none;
					@include hover-cursor;
				}
				.main-description__contact {
					@extend %text-explanation;
					text-decoration: none;
					color: $text-light;
				}
			}
			.main-description__quote {
				display: flex;
				align-items: center;
				column-gap: 16px;
				margin-top: 108px;
				.main-description__icon {
					width: 48px;
					height: 48px;
					@include img-style;
				}
				.header-quote {
					.header-quote__text {
						@extend %text-explanation;
						color: $text-light-gray;
					}
					.header-quote__writer {
						@extend %text-explanation;
						color: $text-light;
					}
				}
			}
		}
		.header__photo {
			width: 570px;
			height: 602px;
			@include img-style;
		}
	}
}

.main {
	background-color: $bg-color-light;
	.main__company-logos {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 135px;
		padding: 74px 0;
		border-bottom: 1px solid $orange-light;
	}
	.main__about {
		margin: 101px 0 140px;
		padding: 0 135px;
		.about {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 161px;
			.about__photo {
				width: 566px;
				height: 585px;
				@include img-style;
			}
			.about__info {
				max-width: 470px;
				.about__subtitle {
					@extend %orange-subtitle;
				}
				.about__title {
					margin: 20px 0 26px;
					@extend %title-section;
				}
				.about__addition {
					@extend %text-addition;
				}
				.about__explanation {
					margin: 18px 0 34px;
					@extend %text-explanation;
				}
				.about__button {
					@include button;
					color: $text-dark;
					border: none;
					box-shadow: 0 3px 9px 0 $shadow-dark;
					background: $text-light;
					@include hover-cursor;
				}
			}
		}
		.about-statistics {
			display: flex;
			.about-statistics__item {
				padding: 45px 0 38px 48px;
				flex-grow: 1;
				border: 1px solid $orange-light;
				.about-statistics__title {
					@extend %text-title;
				}
				.about-statistics__explanation {
					@extend %text-addition;
				}
			}
			.about-statistics__item--left {
				border-radius: 6px 0px 0px 6px;
			}
			.about-statistics__item--right {
				border-radius: 0px 6px 6px 0px;
			}
		}
	}
	.how-work {
		display: flex;
		column-gap: 130px;
		margin-bottom: 108px;
		padding: 0 135px;
		min-height: 376px;
		.how-work__info {
			align-self: flex-start;
			max-width: 470px;
			.how-work__subtitle {
				@extend %orange-subtitle;
			}
			.how-work__title {
				margin: 17px 0 31px;
				@extend %text-title;
			}
			.how-wokr__explanation {
				margin-bottom: 28px;
				@extend %text-explanation;
			}
			.how-work__link {
				@extend %text-explanation;
				text-decoration: none;
				color: $text-dark;
			}
		}
		.how-work__advantages {
			align-self: flex-end;
			flex-grow: 1;
			.how-work__advantage-item {
				display: flex;
				align-items: center;
				margin-bottom: 32px;
				@extend %text-logo;
				color: $text-dark;
			}

			.how-work__advantage-item--first {
				&::before {
					content: "1";
					margin-right: 66px;
					@extend %text-h1;
					color: $text-dark;
				}
			}
			.how-work__advantage-item--second {
				&::before {
					content: "2";
					margin-right: 54px;
					@extend %text-h1;
					color: $text-dark;
				}
			}
			.how-work__advantage-item--third {
				margin-bottom: 0;
				&::before {
					content: "3";
					margin-right: 53px;
					@extend %text-h1;
					color: $text-dark;
				}
			}
		}
	}
	.main__video-section {
		display: flex;
		align-items: center;
		column-gap: 130px;
		padding-top: 127px;
		margin: 0 135px;
		border-top: 1px solid $orange-light;
		.video-section {
			.video-section__video {
				position: relative;
				display: flex;
				width: 570px;
				height: 368px;
				background-image: url("../../images/main/video-picture.png");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				.video-section__link {
					margin: 0 auto;
					display: block;
					align-self: center;
					width: 26%;
					height: 40%;
				}
				.video-section__time {
					position: absolute;
					bottom: 22px;
					left: 24px;
					align-self: flex-end;
					width: 47px;
					height: 34px;
					@extend %text-explanation;
					text-align: center;
					color: $text-light;
					border-radius: 6px;
					border: none;
					background: rgba(87, 11, 0, 0.24);
				}
			}
		}
		.video-info {
			flex-grow: 1;
			.video-info__subtitle {
				@extend %orange-subtitle;
			}
			.video-info__title {
				margin: 17px 0 28px;
				max-width: 469px;
				@extend %text-title;
			}
			.video-info__explanation {
				@extend %text-explanation;
			}
		}
	}
	.main__features {
		padding: 0 135px 213px;
		.features {
			display: flex;
			justify-content: space-between;
			margin: 191px 0 202px;
			.features__info {
				align-self: center;
				max-width: 470px;
				.features__subtitle {
					@extend %orange-subtitle;
				}
				.features__title {
					@extend %title-section;
					margin: 20px 0 26px;
				}
				.features__explanation {
					@extend %text-addition;
					margin-bottom: 24px;
				}
				.features__advantages {
					list-style: none;
					.features__advantage-item {
						display: flex;
						align-self: center;
						margin-bottom: 16px;
						@extend %text-explanation;
						&::before {
							content: url("../../images/main/check-icon.svg");
							margin-right: 16px;
							width: 32px;
							height: 32px;
						}
						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
			.features__photo {
				width: 529px;
				height: 551px;
				@include img-style;
			}
		}
		.features-description {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.features-description__text {
				max-width: 370px;
				.features-description__subtitle {
					@extend %orange-subtitle;
				}
				.features-description__explanation {
					margin: 30px 0 28px;
					@extend %text-addition;
				}
				.features-description__link {
					@extend %text-explanation;
					text-decoration: none;
					color: $text-dark;
				}
			}
			.features-description__cards {
				display: flex;
				.features-card {
					padding: 48px;
					box-shadow: 0 32px 64px 0 $shadow-light;
					border: 1px solid $orange-light;
					&:first-of-type {
						max-width: 336px;
						max-height: 336px;
						border-radius: 6px 6px 0 6px;
						box-shadow: 0 32px 64px 0 $shadow-light;
						background: $text-light;
					}
					&:last-of-type {
						align-self: flex-end;
						max-width: 336px;
						max-height: 272px;
						border-radius: 0 6px 6px 0;
					}
					.features-card__photo {
						width: 80px;
						height: 80px;
						@include img-style;
					}
					.features-card__title {
						margin: 41px 0 19px;
						@extend %text-logo;
						color: $text-dark;
					}
					.features-card__explanation {
						@extend %text-explanation;
					}
				}
			}
		}
	}

	.main__service {
		padding: 0 135px;
		.service {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.service__photo {
				width: 580px;
				height: 570px;
				@include img-style;
			}
			.service__info {
				max-width: 470px;

				.service__subtitle {
					@extend %orange-subtitle;
				}
				.service__title {
					margin: 20px 0 26px;
					@extend %title-section;
				}
				.service__explanation {
					@extend %text-addition;
				}
				.service-quote {
					display: flex;
					column-gap: 20px;
					margin: 31px 0 36px;
					.service-quote__icon {
						width: 64px;
						height: 64px;
					}
					.service-quote__text-block {
						align-self: center;
						.service-quote__text {
							margin: 8px 0 12px;
							@extend %text-sign;
							color: $text-dark-gray;
						}
						.service-quote__writer {
							@extend %text-explanation;
							color: $text-dark;
						}
					}
				}
				.service__button {
					@include button;
					color: $text-dark;
					box-shadow: 0 3px 9px 0 $shadow-dark;
					border: none;
					background: $text-light;
					@include hover-cursor;
				}
			}
		}

		.service-description {
			margin: 141px 0 128px;
			.service-description__subtitle {
				@extend %orange-subtitle;
			}
			.service-description__title {
				margin: 17px 0 35px;
				max-width: 336px;
				@extend %text-title;
			}
			.service-description__cards {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				min-height: 400px;
				.service-card {
					padding: 48px;
					border: 1px solid $orange-light;

					&:first-of-type {
						border-radius: 6px 0 0 6px;
					}
					&:last-of-type {
						border-radius: 0 6px 6px 0;
					}
					.service-card__icon {
						width: 80px;
						height: 80px;
						@include img-style;
					}
					.service-card__title {
						margin: 41px 0 19px;
						@extend %text-logo;
					}
					.service-card__explanation {
						margin-bottom: 26px;
						@extend %text-explanation;
					}
					.service-card__link {
						@extend %text-explanation;
						text-decoration: none;
						color: $text-dark;
					}
				}
			}
		}
	}
	.main__portfolio {
		padding: 92px 135px 0;
		background-color: $bg-color-dark;
		.portfolio-header {
			.portfolio-header__subtitle {
				@extend %orange-subtitle;
				text-align: center;
			}
			.portfolio-header__title {
				margin: 20px 0 36px;
				@extend %title-section;
				text-align: center;
				color: $text-light;
			}
			.portfolio-header__list {
				display: flex;
				column-gap: 60px;
				margin: 0 auto;
				width: max-content;
				list-style: none;
				.portfolio-header__list-item {
					@extend %text-explanation;
					color: $text-light-gray;
					position: relative;
					&:first-of-type {
						color: $text-light;
					}
					&::after {
						@extend %text-sign;
						position: absolute;
						top: -8px;
					}
				}
				.portfolio-header__list-item--all {
					&::after {
						content: "14";
					}
				}
				.portfolio-header__list-item--design {
					&::after {
						content: "6";
					}
				}
				.portfolio-header__list-item--branding {
					&::after {
						content: "4";
					}
				}
				.portfolio-header__list-item--illustration {
					&::after {
						content: "3";
					}
				}
				.portfolio-header__list-item--motion {
					&::after {
						content: "1";
					}
				}
			}
		}
		.portfolio-examples {
			.portfolio-examples__gallery {
				display: grid;
				grid-template-columns: 1fr 180px 1fr;
				grid-template-rows: repeat(2, 416px);
				grid-gap: 32px 30px;
				margin: 68px 0 64px;
				.portfolio-photo {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					padding-bottom: 51px;
					padding-left: 48px;
					text-decoration: none;
					border-radius: 6px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					.portfolio-photo__category {
						display: flex;
						align-items: center;
						margin-bottom: 23px;
						padding: 0 16px;
						width: max-content;
						height: 38px;
						@extend %text-explanation;
						color: $text-dark;
						border-radius: 19px;
						background-color: $text-light;
					}
					.portfolio-photo__title {
						@extend %text-title;
						color: $text-light;
					}
				}
				.portfolio-photo--first {
					grid-area: 1/1/2/2;
					min-width: 40%;
					background-image: url("../../images/main/sofa-picture.png");
				}
				.portfolio-photo--second {
					grid-area: 1/2/2/4;
					background-image: url("../../images/main/keyboard-picture.png");
				}
				.portfolio-photo--third {
					grid-area: 2/1/3/3;
					background-image: url("../../images/main/workmedia-picture.png");
				}
				.portfolio-photo--fourth {
					grid-area: 2/3/3/4;
					background-image: url("../../images/main/dddone-picture.png");
				}
			}
			.portfolio-examples__button {
				@include button;
				display: block;
				margin: 0 auto;
				@include hover-cursor;
			}
		}
	}

	.main__get-started {
		padding: 192px 135px 140px;
		background-color: $bg-color-dark;
		.get-started {
			position: relative;
			display: flex;
			align-items: center;
			max-height: 336px;
			border-radius: 6px;
			background-color: $bg-color-light;
			.get-started__info {
				margin-left: 100px;
				max-width: 248px;
				.get-started__subtitle {
					@extend %orange-subtitle;
				}
				.get-started__title {
					margin: 13px 0 23px;
					@extend %text-logo;
					color: $text-dark;
				}
				.get-started__button {
					@include button;
					@include hover-cursor;
					width: 154px;
					background: $text-dark-accent;
				}
			}

			.get-started__photo-1 {
				align-self: flex-end;
				margin: 0 auto;
				max-height: 336px;
				@include img-style;
			}
			.get-started__photo-2 {
				align-self: flex-end;
				margin-right: 83px;
				@include img-style;
			}
			&::before {
				content: url("../../images/main/gift-icon.svg");
				position: absolute;
				top: -75px;
				left: 84px;
				width: 148px;
				height: 148px;
			}
		}
	}
	.main__events {
		background-color: $bg-color-dark;
		padding: 0 135px;
		.main__events-subtitle {
			@extend %orange-subtitle;
			text-align: center;
		}
		.main__events-title {
			margin: 20px auto 64px;
			max-width: 427px;
			@extend %title-section;
			text-align: center;
			color: $text-light;
		}
		.events {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 30px;
			.events__item {
				padding: 36px 40px;
				border-radius: 6px;
				border: 1px solid $border-dark;
				.time {
					display: flex;
					column-gap: 12px;
					.time__d {
						@extend %text-h1;
						color: $text-light;
					}
					.time__my {
						padding-top: 5px;
						@extend %text-logo;
						color: $text-light;
					}
				}
				.events__time {
					margin: 8px 0 36px 25px;
					@extend %text-explanation;
					color: $text-light;
					position: relative;
					&::before {
						position: absolute;
						top: 7px;
						left: -25px;
						margin-right: 8px;
						width: 16px;
						height: 16px;
						content: "";
						background-image: url("../../images/main/clock-icon.svg");
						color: $text-light;
					}
				}
				.events__title {
					margin-bottom: 19px;
					padding-top: 40px;
					@extend %text-logo;
					color: $text-light;
					border-top: 1px solid $border-dark;
				}
				.events__explanation {
					margin-bottom: 26px;
					@extend %text-explanation;
					color: $text-light-gray;
				}
				.events__link {
					@extend %text-explanation;
					text-decoration: none;
					color: $text-light;
				}
			}
		}
		.main__events-button {
			display: block;
			margin: 64px auto 0;
			@include button;
			@include hover-cursor;
			width: 170px;
		}
	}
	.main__team {
		padding: 140px 135px 175px;
		background-color: $bg-color-dark;
		.main__team-subtitle {
			@extend %orange-subtitle;
		}
		.main__team-title {
			margin: 20px 0 64px;
			max-width: 531px;
			@extend %title-section;
			color: $text-light;
		}
		.team-members {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 30px;
			.team-members__item {
				.team-members__photo {
					display: flex;
					align-items: flex-end;
					justify-content: center;
					min-height: 272px;
					border: 1px solid $border-dark;
					border-radius: 6px;
				}
				.team-members__name {
					margin: 25px 0 3px;
					@extend %text-logo;
					color: $text-light;
				}
				.team-members__position {
					@extend %text-explanation;
					color: $text-light-gray;
				}
			}
		}
		.founder {
			display: flex;
			align-items: center;
			column-gap: 130px;
			padding-top: 180px;

			.founder__photo {
				max-height: 448px;
				flex-grow: 1;
				@include img-style;
				border: 1px solid $border-dark;
				border-radius: 6px;
			}
			.founder__text {
				max-width: 470px;
				.founder__subtitle {
					@extend %orange-subtitle;
				}
				.founder__quote {
					position: relative;
					margin: 33px 0 44px;
					@extend %text-title;
					color: $text-light;
					z-index: 1;
					&::after {
						position: absolute;
						right: 6%;
						top: -30%;
						content: url("../../images/main/quotes.svg");
						width: 100px;
						height: 80px;
						z-index: -1;
					}
				}
				.founder__name {
					margin-bottom: 6px;
					@extend %text-addition;
					color: $text-light;
				}
				.founder__position {
					@extend %text-sign;
				}
			}
		}
	}
	.main__testimonials {
		padding: 125px 135px 0;
		.main__testimonials-subtitle {
			@extend %orange-subtitle;
			text-align: center;
		}
		.main__testimonials-title {
			margin: 20px auto 64px;
			max-width: 394px;
			@extend %title-section;
			text-align: center;
		}
		.testimonials {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 336px 64px 272px 64px;
			.testimonials__item {
				padding: 48px;
				border: 1px solid $orange-light;
				.testimonials__stars {
					width: 31%;
					height: 24px;
					@include img-style;
				}
				.testimonials__text {
					margin: 36px 0;
					@extend %text-explanation;
				}
				.testimonials__writer {
					display: flex;
					column-gap: 24px;
					.testimonials__writer-icon {
						width: 80px;
						height: 80px;
						@include img-style;
					}
					.testimonials__writer-name {
						margin-top: 9px;
						@extend %text-logo;
						color: $text-dark;
					}
					.testimonials__writer-company {
						@extend %text-explanation;
						color: $text-dark;
					}
				}
			}
			.testimonials__item--first {
				grid-row: 1/3;
				border-radius: 6px 0 0 0;
				box-shadow: 0 32px 64px 0 $shadow-light;
				background-color: $text-light;
			}
			.testimonials__item--second {
				grid-row: 1/2;
				border-radius: 0 6px 0 0;
			}
			.testimonials__item--third {
				grid-row: 3/5;
				border-radius: 0 0 6px 6px;
			}
			.testimonials__item--fourth {
				grid-row: 2/4;
				border-radius: 0 0 6px 0;
			}
		}
		.main__testimonials-button {
			margin: 65px auto 78px;
			display: block;
			@include button;
			@include hover-cursor;
			color: $text-dark;
			box-shadow: 0 3px 9px 0 $shadow-dark;
			background: $text-light;
		}
	}
	.main__pricing {
		padding: 30px 135px 156px;
		.main__pricing-subtitle {
			@extend %orange-subtitle;
		}
		.main__pricing-title {
			margin: 20px 0 16px;
			max-width: 358px;
			@extend %title-section;
		}
		.pricing__cards-block {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 48px 512px;
			.pricing__card {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 44px 48px;
				grid-row: 2/3;
				border: 1px solid $orange-light;

				.pricing__card-addition {
					margin-bottom: 22px;
					margin-left: -8px;
					padding: 0 17px;
					width: max-content;
					@extend %text-explanation;
					color: $text-light;
					border-radius: 19px;
					background-color: $text-dark-accent;
				}
				.pricing__card-subtitle {
					@extend %orange-subtitle;
				}
				.pricing__card-title {
					margin: 17px 0 15px;
					@extend %text-title;
				}
				.pricing__card-explanation {
					@extend %text-explanation;
				}
				.pricing__options {
					margin: 27px 0 36px;
					list-style: none;
					.pricing__options-item {
						margin-bottom: 16px;
						margin-left: 32px;
						@extend %text-explanation;
						&:last-of-type {
							margin-bottom: 0;
						}
					}
					.pricing__options-item--included {
						color: $text-dark;
						position: relative;
						&::before {
							position: absolute;
							top: 6px;
							left: -32px;
							width: 16px;
							height: 16px;
							content: "";
							background-image: url("../../images/main/plus.svg");
						}
					}
					.pricing__options-item--excluded {
						position: relative;
						&::before {
							position: absolute;
							top: 6px;
							left: -32px;
							width: 16px;
							height: 16px;
							content: "";
							background-image: url("../../images/main/minus.svg");
						}
					}
				}
				.pricing__card-button {
					width: 154px;
					@include button;
					@include hover-cursor;
					color: $text-dark;
					box-shadow: 0 3px 9px 0 $shadow-dark;
					background: $text-light;
				}

				&:first-of-type {
					border-radius: 6px 0 0 6px;
				}
				&:nth-child(2) {
					padding: 32px 48px 44px;
					grid-area: 1/2/3/3;
					border-radius: 6px 6px 0 0;
					box-shadow: 0 32px 64px 0 $shadow-light;
					background: $text-light;
					.pricing__card-button {
						color: $text-light;
						background-color: $text-dark-accent;
					}
				}
				&:last-child {
					border-radius: 0 6px 6px 0;
				}
			}
		}
	}

	.main__faq {
		display: flex;
		padding: 0 135px;
		column-gap: 130px;
		.faq-info {
			min-width: 470px;

			.faq-info__subtitle {
				@extend %orange-subtitle;
			}
			.faq-info__title {
				margin: 17px 0 31px;
				@extend %text-title;
			}
			.faq-info__text {
				margin-bottom: 29px;

				@extend %text-explanation;
			}
			.faq-info__link {
				@extend %text-explanation;
				text-decoration: none;
				color: $text-dark;
			}
		}
		.question {
			flex-grow: 1;
			padding-top: 20px;
			.question__item {
				position: relative;
				padding: 41px 48px 0;
				border: 1px solid $orange-light;
				.question__item-title {
					@extend %text-logo;
					color: $text-dark;
				}
				.question__item-icon {
					position: absolute;
					top: 40px;
					right: 34px;
					width: 32px;
					height: 32px;
					@include img-style;
					@include hover-cursor;
				}
				.question__item-text {
					margin: 0 2px;
					@extend %text-explanation;
				}
				&:first-of-type {
					border-radius: 6px 6px 0 0;
					box-shadow: 0 32px 64px 0 $shadow-light;
					background: $text-light;
				}
				&:last-of-type {
					border-radius: 0 0 6px 6px;
				}
			}
			.question__item--open {
				padding-bottom: 43px;
				box-shadow: 0 32px 64px 0 $shadow-light;
				background: $text-light;
			}
			.question__item--closed {
				padding-bottom: 39px;
			}
		}
	}

	.main__awards {
		padding: 156px 135px 82px;
		.main__awards-title {
			padding-bottom: 67px;
			@extend %text-title;
			text-align: center;
			border-bottom: 1px solid $orange-light;
		}
		.awards-table {
			.awards-table__line {
				display: flex;
				align-items: center;
				padding: 15px 0 16px;
				border-bottom: 1px solid $orange-light;
				.project {
					display: flex;
					align-items: center;
					column-gap: 24px;
					width: 30%;
					.project__photo {
						width: 120px;
						height: 80px;
						@include img-style;
						img {
							border-radius: 6px;
						}
					}
					.project__name {
						@extend %text-addition;
					}
				}
				.awards-table__date {
					flex-grow: 1;
					@extend %text-explanation;
					text-align: center;
				}
				.awards-item {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					width: 30%;
					column-gap: 24px;
					.awards-item__name {
						@extend %text-explanation;
						color: $text-dark;
					}
					.awards-item__label {
						width: 48px;
						height: 48px;
						@include img-style;
					}
				}
			}
		}

		.awards-more {
			margin-top: 59px;
			text-align: center;
			@extend %text-explanation;
			.awards-more__link {
				@extend %text-explanation;
				text-decoration: none;
				color: $text-dark;
			}
		}
	}

	.main__blog {
		position: relative;
		margin: 0 135px;
		padding-top: 30px;
		.main__blog-subtitle {
			@extend %orange-subtitle;
		}
		.main__blog-title {
			margin: 20px 0 64px;
			max-width: 318px;
			@extend %title-section;
		}
		.main__blog-button {
			position: absolute;
			top: 116px;
			right: 0;
			width: 170px;
			@include button;
			@include hover-cursor;
			color: $text-dark;
			border-radius: 6px;
			box-shadow: 0 3px 9px 0 $shadow-dark;
			background: $text-light;
		}
		.blog-cards {
			padding-bottom: 68px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 30px;
			border-bottom: 1px solid $orange-light;
			.blog-cards__item {
				.blog-cards__picture {
					margin-bottom: 24px;
					width: 100%;
					height: 224px;
					@include img-style;
					img {
						border-radius: 6px;
					}
				}
				.blog-cards__addition {
					@extend %text-addition;
				}
				.blog-cards__title {
					margin: 15px 0;
					max-width: 338px;
					@extend %text-logo;
					color: $text-dark;
				}
				.blog-cards__date {
					@extend %text-explanation;
				}
			}
		}
	}

	.main__contact {
		.newsletter {
			display: flex;
			justify-content: space-between;
			margin: 60px 135px 0;
			padding-bottom: 115px;
			.newsletter__title {
				@extend %text-title;
			}
			.newsletter__container {
				display: flex;
				column-gap: 30px;
				width: 48.7%;
				.newsletter__email {
					flex-grow: 1;
					padding: 9px 16px 7px;
					@extend %text-explanation;
					border: 1px solid $orange-light;
					border-radius: 6px;
				}
				.newsletter__button {
					width: 170px;
					@include button;
					@include hover-cursor;
					color: $text-dark;
					box-shadow: 0 3px 9px 0 $shadow-dark;
					background: $text-light;
				}
			}
		}

		.contact-form {
			position: relative;
			padding: 128px 135px 122px;
			min-height: 464px;
			background-image: url("../../images/main/map.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.contact-form__form-block {
				position: relative;
				display: flex;
				flex-direction: column;
				padding: 57px 48px 48px;
				max-width: 470px;
				border-radius: 6px;
				background-color: $text-light;
				.contact-form__title {
					margin-bottom: 23px;
					@extend %text-logo;
					color: $text-dark;
				}
				.contact-form__input {
					margin-bottom: 16px;
					padding: 9px 16px 7px;
					min-height: 48px;
					@extend %text-explanation;
					border: 1px solid $orange-light;
					border-radius: 6px;
				}

				.contact-form__input--subject {
					padding-right: 21px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-image: url("../../images/main/triangle.svg");
					background-repeat: no-repeat;
					background-position: bottom 21px right 21px;
				}

				.contact-form__input--message {
					width: 100%;
					height: 96px;
					resize: none;
				}
				.contact-form__button {
					margin-top: 16px;
					align-self: flex-end;
					@include button;
					@include hover-cursor;
					background-color: $text-dark-accent;
				}
			}
		}

		.contact-cards {
			margin: 80px 135px 0;
			padding-bottom: 130px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			min-height: 192px;
			.contact-cards__item {
				padding: 32px 48px 38px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border: 1px solid $orange-light;
				&:first-of-type {
					border-radius: 6px 0 0 6px;
				}
				&:last-of-type {
					border-radius: 0 6px 6px 0;
				}
				.type-contact {
					display: flex;
					align-items: center;
					column-gap: 24px;
					margin-bottom: 26px;
					.type-contact__icon {
						width: 64px;
						height: 64px;
						@include img-style;
					}
					.type-contact__subtitle {
						flex-grow: 1;
						@extend %orange-subtitle;
					}
				}
				.contact-cards__text {
					@extend %text-addition;
				}
			}
		}
	}
}
