@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container__name {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.header-content__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 72px;
  font-weight: 800;
  line-height: 111%;
  letter-spacing: -0.03em;
}

.image-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
}

.image-tag, .header-content__text, .menu__item-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: rgba(57, 20, 0, 0.64);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #28293e;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 16px 0 104px;
}
@media screen and (max-width: 1023px) {
  .header__navigation {
    width: 85%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation {
    width: 90%;
    padding-bottom: 80px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.logo-container__icon {
  width: 48px;
  height: 48px;
}
.logo-container__icon img {
  width: 100%;
  height: 100%;
}
.logo-container__name {
  color: #fff;
}

.menu-container {
  min-width: 50%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
  .burger-menu__burger-checkbox {
    opacity: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span {
    width: 100%;
    transform: rotate(45deg);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger {
    border: none;
  }
  .burger-menu__burger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
  }
  .burger-menu__burger:hover {
    cursor: pointer;
  }
  .burger-menu__burger > span, .burger-menu__burger > span::before, .burger-menu__burger > span::after {
    position: absolute;
    left: 16px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d8d8d8;
    border-radius: 1px;
    transition-duration: 0.25s;
  }
  .burger-menu__burger > span::before {
    content: "";
    left: 0;
    top: -8px;
  }
  .burger-menu__burger > span::after {
    content: "";
    left: 0;
    top: 8px;
  }
  .burger-menu .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0;
    padding: 60px 0;
    background-color: #28293e;
    transition-duration: 0.25s;
    margin-bottom: 0;
    padding-left: 0;
  }
  .burger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    transition-duration: 0.25s;
  }
}

.form-button {
  align-self: center;
}
.form-button__contact {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
}
.form-button__contact:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .form-button__contact {
    display: none;
  }
}
.form-button__load {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  width: 170px;
  background-color: #fff;
  color: #391400;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
}
.form-button__load:hover {
  cursor: pointer;
}

.header-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}
@media screen and (max-width: 767px) {
  .header-content {
    row-gap: 12px;
  }
}
.header-content__title {
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .header-content__title {
    font-size: 56px;
    line-height: 114%;
  }
}
.header-content__text {
  color: rgba(255, 255, 255, 0.64);
  width: 570px;
  text-align: center;
  margin-bottom: 66px;
}
@media screen and (max-width: 767px) {
  .header-content__text {
    width: 329px;
    margin-bottom: 87px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fdf0e9;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
  width: 80%;
  margin: auto;
  padding-top: 112px;
  gap: 30px;
}
@media screen and (max-width: 1023px) {
  .gallery {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    width: 90%;
  }
}
.gallery .image-container1 {
  background-image: url(/assets/images/portfolio/sofa.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container1 {
    min-width: 329px;
  }
}
.gallery .image-container2 {
  background-image: url(/assets/images/portfolio/keyboard.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container2 {
    min-width: 329px;
  }
}
.gallery .image-container3 {
  background-image: url(/assets/images/portfolio/work-media.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container3 {
    min-width: 329px;
  }
}
.gallery .image-container4 {
  background-image: url(/assets/images/portfolio/dddone.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container4 {
    min-width: 329px;
  }
}
.gallery .image-container5 {
  background-image: url(/assets/images/portfolio/abstract.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container5 {
    min-width: 329px;
  }
}
.gallery .image-container6 {
  background-image: url(/assets/images/portfolio/handp.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container6 {
    min-width: 329px;
  }
}
.gallery .image-container7 {
  background-image: url(/assets/images/portfolio/architect.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container7 {
    min-width: 329px;
  }
}
.gallery .image-container8 {
  background-image: url(/assets/images/portfolio/calc.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container8 {
    min-width: 329px;
  }
}
.gallery .image-container9 {
  background-image: url(/assets/images/portfolio/sport.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 370px;
  min-height: 416px;
  row-gap: 23px;
  padding: 0 0 51px 48px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .gallery .image-container9 {
    min-width: 329px;
  }
}

.image-link {
  text-decoration: none;
  color: #fff;
}

.image-tag {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 16px;
  background-color: #fff;
  border-radius: 19px;
  text-align: center;
}

.button-container {
  margin: 80px 0 112px 0;
}
@media screen and (max-width: 767px) {
  .button-container {
    margin: 48px 0 114px 0;
  }
}/*# sourceMappingURL=portfolio.css.map */