@import "../vars";
@import "../template";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	min-height: 400px;
	background-color: $bg-color-dark;
	display: flex;
	flex-direction: column;
}

.header-navbar {
	color: $text-light;
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-between;
	height: 48px;
	padding-top: 16px;
	box-sizing: content-box;
}

.logo-box {
	display: flex;
	align-items: center;
	column-gap: 15px;
	&__img {
	}
	&__text {
		@extend %text-logo;
	}
}

.nav {
	@extend %text-explanation;

	&__item {
	}
	&__link {
		color: $text-light;
		text-decoration: none;
	}
	&__list {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		list-style: none;
		height: 100%;
		width: 500px;
		padding: 0;
		column-gap: 20%;
	}
}

.form-button {
	align-self: center;

	&--position-start {
		align-self: flex-start;
	}
	&__contact {
		@include button;
		&--light {
			background-color: #fff;
			width: 154px;
			box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
		}
	}
	&__contact:hover {
		cursor: pointer;
	}
	&__load {
		@include button;
		background-color: #fff;
		width: 170px;
		box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
	}
	&__load:hover {
		cursor: pointer;
	}
	&__link {
		text-decoration: none;
		&--light {
			color: $text-light;
		}
		&--dark {
			color: $text-dark;
		}
	}
}

.header-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
		width: 570px;
		text-align: center;
	}
	&__title {
		@extend %text-h1;
		color: $text-light;
	}
}

.main {
	flex-grow: 1;
	background-color: $bg-color-light;
	display: flex;
	flex-direction: column;
}

.gallery {
	padding-top: 5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	margin: auto;
	width: 80%;
	gap: 30px;
}
.image-container1 {
	background-image: url(/assets/images/portfolio/sofa.png);
	@extend %image-container;
}
.image-container2 {
	background-image: url(/assets/images/portfolio/keyboard.png);
	@extend %image-container;
}
.image-container3 {
	background-image: url(/assets/images/portfolio/work-media.png);
	@extend %image-container;
}

.image-container4 {
	background-image: url(/assets/images/portfolio/dddone.png);
	@extend %image-container;
}
.image-container5 {
	background-image: url(/assets/images/portfolio/abstract.png);
	@extend %image-container;
}
.image-container6 {
	background-image: url(/assets/images/portfolio/handp.png);
	@extend %image-container;
}
.image-container7 {
	background-image: url(/assets/images/portfolio/architect.png);
	@extend %image-container;
}
.image-container8 {
	background-image: url(/assets/images/portfolio/calc.png);
	@extend %image-container;
}
.image-container9 {
	background-image: url(/assets/images/portfolio/sport.png);
	@extend %image-container;
}
.image-link {
	text-decoration: none;
	@extend %text-title;
	color: $text-light;
}
.image-tag {
	@extend %text-explanation;
	width: fit-content;
	background-color: #fff;
	border-radius: 19px;
	text-align: center;
	padding: 1% 3%;
}

.button-container {
	margin-top: 68px;
	margin-bottom: 68px;
}

.aside {
	display: flex;
	background-color: $bg-color-light;
}

.aside-content {
	width: 70%;
	max-height: 40%;
	margin: auto;
	background-color: $bg-color-accent;
	display: flex;
	border-radius: 6px;
	padding: 4%;
	&__article {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 44px;
	}
	&__title {
		@extend %title-section;
		color: $text-light;
		width: 80%;
	}
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
		width: 90%;
	}
	&__image {
		flex-basis: 50%;
		align-self: center;
		justify-self: center;
	}
	&__img-item {
		max-width: 100%;
		max-height: 100%;
	}
}
