@import "../vars";
@import "../template";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

.wrapper {
	display: flex;
	flex-direction: column;
}

.header {
	background-color: $bg-color-dark;
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: auto;
		padding: 16px 0 104px;
		@media screen and (max-width: 1023px) {
			width: 85%;
			padding-bottom: 50px;
		}
		@media screen and (max-width: 767px) {
			width: 90%;
			padding-bottom: 80px;
		}
	}
}

.logo-container {
	display: flex;
	align-items: center;
	column-gap: 14px;
	&__icon {
		width: 48px;
		height: 48px;
		@include img-style;
	}
	&__name {
		@extend %text-logo;
		color: $text-light;
	}
}

.menu-container {
	min-width: 50%;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	&__item {
	}
	&__item-link {
		@extend %text-explanation;
		text-decoration: none;
		color: $text-light;
	}
}

.burger-menu {
	display: none;
	@media screen and (max-width: 767px) {
		display: block;

		&__burger-checkbox {
			opacity: 0;
		}
		&__burger-checkbox:checked ~ &__burger > span {
			width: 100%;
			transform: rotate(45deg);
		}
		&__burger-checkbox:checked ~ &__burger > span::before {
			top: 0;
			width: 100%;
			transform: rotate(0);
		}
		&__burger-checkbox:checked ~ &__burger > span::after {
			top: 0;
			width: 100%;
			transform: rotate(90deg);
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ &__burger {
			border: none;
		}
		&__burger {
			position: absolute;
			top: 20px;
			right: 5%;
			z-index: 1;
			display: flex;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 6px;
			@include hover-cursor;
			& > span,
			& > span::before,
			& > span::after {
				position: absolute;
				left: 16px;
				display: block;
				width: 16px;
				height: 2px;
				background-color: #d8d8d8;
				border-radius: 1px;
				transition-duration: 0.25s;
			}

			& > span::before {
				content: "";
				left: 0;
				top: -8px;
			}

			& > span::after {
				content: "";
				left: 0;
				top: 8px;
			}
		}
		.menu {
			position: fixed;
			visibility: hidden;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 300px;
			margin: 0;
			padding: 60px 0;
			background-color: $bg-color-dark;
			transition-duration: 0.25s;
			margin-bottom: 0;
			padding-left: 0;
			&__item {
				display: block;
				padding: 12px 24px;
				transition-duration: 0.25s;
			}
		}
	}
}

.form-button {
	align-self: center;

	&__contact {
		@include button;
		@include hover-cursor;

		@media screen and (max-width: 1023px) {
			display: none;
		}
	}

	&__load {
		@include button;
		@include hover-cursor;
		width: 170px;
		background-color: #fff;
		color: $text-dark;
		box-shadow: 0 3px 9px 0 $shadow-dark;
	}
}

.header-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	@media screen and (max-width: 767px) {
		row-gap: 12px;
	}
	&__title {
		@extend %text-h1;
		color: $text-light;
		margin: 0;
		@media screen and (max-width: 767px) {
			font-size: 56px;
			line-height: 114%;
		}
	}
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
		width: 570px;
		text-align: center;
		margin-bottom: 66px;
		@media screen and (max-width: 767px) {
			width: 329px;
			margin-bottom: 87px;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: $bg-color-light;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	justify-items: center;
	width: 80%;
	margin: auto;
	padding-top: 112px;
	gap: 30px;

	@media screen and (max-width: 1023px) {
		width: 85%;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
	}

	.image-container1 {
		background-image: url(/assets/images/portfolio/sofa.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container2 {
		background-image: url(/assets/images/portfolio/keyboard.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container3 {
		background-image: url(/assets/images/portfolio/work-media.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}

	.image-container4 {
		background-image: url(/assets/images/portfolio/dddone.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container5 {
		background-image: url(/assets/images/portfolio/abstract.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container6 {
		background-image: url(/assets/images/portfolio/handp.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container7 {
		background-image: url(/assets/images/portfolio/architect.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container8 {
		background-image: url(/assets/images/portfolio/calc.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
	.image-container9 {
		background-image: url(/assets/images/portfolio/sport.png);
		@include image-container;
		@media screen and (max-width: 767px) {
			min-width: 329px;
		}
	}
}
.image-link {
	text-decoration: none;
	@extend %text-title;
	color: $text-light;
}
.image-tag {
	width: fit-content;
	padding: 5px 16px;
	@extend %text-explanation;
	background-color: #fff;
	border-radius: 19px;
	text-align: center;
}

.button-container {
	margin: 80px 0 112px 0;
	@media screen and (max-width: 767px) {
		margin: 48px 0 114px 0;
	}
}
