* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

@mixin font {
	font-family: "Epilogue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin h1 {
	font-family: "Epilogue", sans-serif;
	color: #fff;
	font-size: 72px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: -2px;
	text-align: center;
}

@mixin h2 {
	font-family: "Epilogue", sans-serif;
	color: #fff;
	font-size: 56px;
	font-weight: 800;
	line-height: 64px;
	letter-spacing: -1px;
	text-align: left;
}

@mixin h3 {
	font-family: "Epilogue", sans-serif;
	color: #391400;
	font-size: 40px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 0px;
	text-align: left;
}

@mixin h4 {
	font-family: "Epilogue", sans-serif;
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: left;
}

@mixin h5 {
	color: #ef6d58;
	font-family: "Epilogue", sans-serif;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 3px;
	text-align: left;
	text-transform: uppercase;
}

@mixin text-big {
	font-family: "Epilogue", sans-serif;
	color: #391400;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: left;
}

@mixin text {
	font-family: "Epilogue", sans-serif;
	color: rgba(57, 20, 0, 0.64);
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: left;
}

@mixin button {
	width: 138px;
	height: 48px;
	@include font;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	color: $text-light;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	background-color: transparent;
}

@mixin text-logo {
	@include font;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
}

@mixin text-title {
	@include font;
	font-weight: 800;
	font-size: 40px;
	line-height: 120%;
	color: $text-dark;
}

@mixin text-explanation {
	@include font;
	font-size: 16px;
	line-height: 200%;
	color: $text-light;
}

@mixin title-section {
	@include font;
	font-weight: 800;
	font-size: 56px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: $text-dark;
}

@mixin img-style {
	img {
		width: 100%;
		height: 100%;
	}
}
@mixin img-style-fit {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin image-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 370px;
	min-height: 416px;
	row-gap: 23px;
	padding: 0 0 51px 48px;
	border-radius: 6px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin hover-cursor {
	&:hover {
		cursor: pointer;
	}
}

%text-logo {
	@include font;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
}

%orange-subtitle {
	@include font;
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: $text-dark-accent;
}

%text-h1 {
	@include font;
	font-size: 72px;
	font-weight: 800;
	line-height: 111%;
	letter-spacing: -0.03em;
}

%text-addition {
	@include font;
	font-size: 20px;
	line-height: 160%;
	color: $text-dark;
}

%text-title {
	@include font;
	font-weight: 800;
	font-size: 40px;
	line-height: 120%;
	color: $text-dark;
}

%text-explanation {
	@include font;
	font-size: 16px;
	line-height: 200%;
	color: $text-dark-gray;
}

%title-section {
	@include font;
	font-weight: 800;
	font-size: 56px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: $text-dark;
}

%text-sign {
	@include font;
	font-size: 14px;
	line-height: 171%;
	color: $text-light-gray;
}
