$bg-color-light: #fdf0e9;
$bg-color-dark: #28293e;
$bg-color-accent: #ef6d58;
$text-dark: #391400;
$text-dark-accent: #ef6d58;
$text-dark-gray: rgba(57, 20, 0, 0.64);
$text-light: #fff;
$text-light-gray: rgba(255, 255, 255, 0.64);
