$bg-color-light: #fdf0e9;
$bg-color-dark: #28293e;
$bg-color-accent: #ef6d58;
$text-dark: #391400;
$text-dark-accent: #ef6d58;
$text-dark-gray: #391400a3;
$text-light: #ffffff;
$text-light-gray: #ffffffa3;
$orange-light: #f3d1bf;

$shadow-dark: #39140014;
$shadow-light: #3914000a;
$border-dark: #3a3c56;
$border-light: #ffffff4d;
$line-color: #f3d1bf;
$bg-burger: #d8d8d8;

$desktop-md: 1439px;
$tablet: 1023px;
$mobile: 767px;
$mobile-sm: 374px;
