@import "../vars";
@import "../template";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

.wrapper {
	display: flex;
	flex-direction: column;
}

.header {
	background-color: $bg-color-dark;
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: auto;
		padding: 16px 0 104px;
		@media screen and (max-width: 1023px) {
			width: 85%;
			padding-bottom: 50px;
		}
		@media screen and (max-width: 767px) {
			width: 90%;
			padding-bottom: 80px;
		}
	}
}

.logo-container {
	display: flex;
	align-items: center;
	column-gap: 14px;
	&__icon {
		width: 48px;
		height: 48px;
		@include img-style;
	}
	&__name {
		@extend %text-logo;
		color: $text-light;
	}
}

.menu-container {
	min-width: 50%;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	&__item {
	}
	&__item-link {
		@extend %text-explanation;
		text-decoration: none;
		color: $text-light;
	}
}

.burger-menu {
	display: none;
	@media screen and (max-width: 767px) {
		display: block;

		&__burger-checkbox {
			opacity: 0;
		}
		&__burger-checkbox:checked ~ &__burger > span {
			width: 100%;
			transform: rotate(45deg);
		}
		&__burger-checkbox:checked ~ &__burger > span::before {
			top: 0;
			width: 100%;
			transform: rotate(0);
		}
		&__burger-checkbox:checked ~ &__burger > span::after {
			top: 0;
			width: 100%;
			transform: rotate(90deg);
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ &__burger {
			border: none;
		}
		&__burger {
			position: absolute;
			top: 20px;
			right: 5%;
			z-index: 1;
			display: flex;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 6px;
			@include hover-cursor;
			& > span,
			& > span::before,
			& > span::after {
				position: absolute;
				left: 16px;
				display: block;
				width: 16px;
				height: 2px;
				background-color: #d8d8d8;
				border-radius: 1px;
				transition-duration: 0.25s;
			}

			& > span::before {
				content: "";
				left: 0;
				top: -8px;
			}

			& > span::after {
				content: "";
				left: 0;
				top: 8px;
			}
		}
		.menu {
			position: fixed;
			visibility: hidden;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 300px;
			margin: 0;
			padding: 60px 0;
			background-color: $bg-color-dark;
			transition-duration: 0.25s;
			margin-bottom: 0;
			padding-left: 0;
			&__item {
				display: block;
				padding: 12px 24px;
				transition-duration: 0.25s;
			}
		}
	}
}

.form-button {
	align-self: center;

	&__contact {
		@include button;
		@include hover-cursor;

		@media screen and (max-width: 1023px) {
			display: none;
		}
	}

	&__load {
		@include button;
		@include hover-cursor;
		width: 170px;
		background-color: #fff;
		color: $text-dark;
		box-shadow: 0 3px 9px 0 $shadow-dark;
	}
}

.header-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	@media screen and (max-width: 767px) {
		row-gap: 12px;
	}
	&__title {
		@extend %text-h1;
		color: $text-light;
		margin: 0;
		@media screen and (max-width: 767px) {
			font-size: 56px;
			line-height: 114%;
		}
	}
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
		width: 570px;
		text-align: center;
		margin-bottom: 66px;
		@media screen and (max-width: 767px) {
			width: 329px;
			margin-bottom: 87px;
		}
	}
}

.main {
	flex-grow: 1;
}

.main-block1 {
	background-color: $bg-color-light;
	display: flex;
	flex-direction: column;
}

.about {
	width: 80%;
	margin: auto;
	padding-top: 76px;
	padding-bottom: 113px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 10% 1fr min-content;
	row-gap: 20px;
	@media screen and (max-width: 1023px) {
		width: 85%;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
		display: flex;
		flex-direction: column;
		padding-bottom: 81px;
		row-gap: 30px;
	}

	&__subtitle {
		@extend %orange-subtitle;
		grid-row: 1/2;
		grid-column: 1/2;
	}
	&__title {
		@extend %title-section;
		width: 417px;
		grid-row: 2/3;
		grid-column: 1/2;
		@media screen and (max-width: 1439px) {
			font-size: 40px;
		}
		@media screen and (max-width: 1023px) {
			width: 100%;
		}
		@media screen and (max-width: 767px) {
		}
	}
	&__text1 {
		@extend %text-explanation;
		grid-row: 2/3;
		grid-column: 2/3;
		align-self: end;
		width: 100%;
		padding-left: 15px;
		@media screen and (max-width: 767px) {
			padding: 15px 0 15px 0;
		}
	}
	&__text2 {
		@extend %text-explanation;
		grid-row: 3/4;
		grid-column: 2/3;
		width: 100%;
		margin-bottom: 0;
		padding-left: 15px;
		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}
}

.gallery {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	column-gap: 30px;
	padding-bottom: 128px;
	box-sizing: content-box;
	@media screen and (max-width: 1023px) {
		width: 85%;
		flex-direction: column;
		row-gap: 30px;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
		row-gap: 17px;
		padding-bottom: 88px;
	}

	.video-container {
		flex-basis: 50%;

		.video-item {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 6px;
		}
	}

	.image-container {
		flex-basis: 50%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 30px;
		justify-items: center;
		@media screen and (max-width: 767px) {
			gap: 17px;
		}
	}
	.image-item {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 6px;
	}
}

.features {
	width: 80%;
	margin: auto;
	@media screen and (max-width: 1023px) {
		width: 85%;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
	}
	.content-container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		@media screen and (max-width: 1439px) {
			column-gap: 15px;
		}
		@media screen and (max-width: 1023px) {
			flex-direction: column;
			align-items: stretch;
			row-gap: 32px;
		}
		.features-content {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			max-width: 370px;
			@media screen and (max-width: 1439px) {
				max-width: 300px;
			}
			@media screen and (max-width: 1023px) {
				max-width: 100%;
			}
			@media screen and (max-width: 767px) {
				row-gap: 16px;
			}
			.features-subtitle {
				@extend %orange-subtitle;
				padding-bottom: 18px;
				@media screen and (max-width: 767px) {
					padding-bottom: 14px;
				}
			}
			.features-title {
				@extend %text-addition;
			}
			.features-text {
				@extend %text-explanation;
			}
		}
		.card-box {
			display: flex;
			align-items: flex-end;
			@media screen and (max-width: 1023px) {
				flex-direction: column;
			}
			.card1 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				row-gap: 25px;
				padding: 48px;
				border: 1px solid #28293e;
				border-radius: 6px 0 0 6px;
				background-color: #fff;
				box-shadow: 0 32px 64px 0 rgba(57, 20, 0, 0.04);
				max-width: 336px;
				max-height: 336px;
				@media screen and (max-width: 1439px) {
					min-width: 250px;
					min-height: 250px;
					padding: 40px;
				}
				@media screen and (max-width: 1023px) {
					min-width: 100%;
					border: 1px solid #f3d1bf;
					border-radius: 6px 6px 0 0;
				}
				.card-image {
					max-width: 100%;
					max-height: 100%;
					@media screen and (max-width: 1439px) {
						display: none;
					}
					@media screen and (max-width: 1023px) {
						display: block;
					}
				}
				.card-title {
					@extend %text-logo;
					color: $text-dark;
				}
				.card-text {
					@extend %text-explanation;
				}
			}
		}
		.card2 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			row-gap: 25px;
			padding: 105px 48px 48px 48px;
			border: 1px solid #28293e;
			border-left: none;
			border-radius: 0 6px 6px 0;
			max-width: 336px;
			max-height: 272px;
			@media screen and (max-width: 1439px) {
				min-width: 150px;
				min-height: 250px;
				padding: 40px;
			}
			@media screen and (max-width: 1023px) {
				min-width: 100%;
				border: 1px solid #f3d1bf;
				border-radius: 0 0 6px 6px;
				justify-content: flex-end;
				padding-top: 105px;
				min-height: 100%;
			}
			.card-title {
				@extend %text-logo;
				color: $text-dark;
			}
			.card-text {
				@extend %text-explanation;
			}
		}
	}
	.number-container {
		margin-top: 144px;
		margin-bottom: 128px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		border: 1px solid #28293e;
		border-radius: 6px;
		max-height: 30%;
		@media screen and (max-width: 1439px) {
			height: 150px;
			margin: 100px 0 100px 0;
		}
		@media screen and (max-width: 1023px) {
			border: 1px solid #f3d1bf;
			margin: 50px 0 50px 0;
		}
		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			height: 100%;
			margin: 81px 0 81px 0;
		}
		.text-box {
			display: flex;
			flex-direction: column;
			border-right: 1px solid #28293e;
			height: 100%;
			width: 100%;
			justify-content: center;
			padding: 50px;
			row-gap: 10px;
			@media screen and (max-width: 1439px) {
				padding: 0;
				align-items: center;
			}
			@media screen and (max-width: 1023px) {
				border: 1px solid #f3d1bf;
			}
			@media screen and (max-width: 767px) {
				align-items: flex-start;
				padding: 47px;
			}
			&__number {
				@extend %text-title;
				@media screen and (max-width: 1439px) {
					font-size: 35px;
				}
			}
			&__text {
				@extend %text-addition;
			}
		}
	}
	#border-none {
		border-right: transparent;
	}
}

.main-block2 {
	background-color: $bg-color-dark;
	display: flex;
	flex-direction: column;
}

.team {
	width: 80%;
	padding-top: 92px;
	margin: auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	@media screen and (max-width: 1023px) {
		width: 85%;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
	}

	.team-subtitle {
		@extend %orange-subtitle;
	}
	.team-title {
		width: 50%;
		@extend %title-section;
		color: $text-light;
		@media screen and (max-width: 1023px) {
			width: 100%;
		}
		@media screen and (max-width: 767px) {
			font-size: 40px;
		}
	}
	.team-gallery {
		margin-top: 44px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		flex-grow: 1;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: 1439px) {
			gap: 30px;
		}
		@media screen and (max-width: 767px) {
		}

		&__member {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			@media screen and (max-width: 1439px) {
				min-width: 45%;
			}
			@media screen and (max-width: 767px) {
				min-width: 100%;
			}
		}
		&__box {
			border: 1px solid #3a3c56;
			border-radius: 6px;
			min-width: 270px;
			min-height: 275px;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			@media screen and (max-width: 1439px) {
			}
			&__photo {
			}
		}
		&__name {
			padding-top: 25px;
			@extend %text-logo;
			color: $text-light;
			@media screen and (max-width: 1439px) {
				text-align: center;
			}
		}
		&__job {
			@extend %text-explanation;
			color: $text-light-gray;
			@media screen and (max-width: 1439px) {
				text-align: center;
			}
		}
	}
}

.testimonials {
	width: 100%;
	padding-top: 111px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	@media screen and (max-width: 1023px) {
		width: 85%;
		margin: auto;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
		margin: auto;
	}
	&__subtitle {
		@extend %orange-subtitle;
	}
	&__title {
		@extend %title-section;
		color: $text-light;
		padding-bottom: 44px;
		max-width: 394px;
		text-align: center;
		@media screen and (max-width: 1023px) {
			text-align: center;
			font-size: 40px;
			padding-bottom: 20px;
		}
	}
	.carousel {
		width: 60%;
		height: 40%;
		@media screen and (max-width: 1439px) {
			width: 70%;
		}
		@media screen and (max-width: 1023px) {
			width: 100%;
		}
		@media screen and (max-width: 767px) {
			width: 100%;
			margin: 0;
		}

		.carousel-indicators {
			position: static;
			margin-top: 64px;
			column-gap: 20px;
			@media screen and (max-width: 1023px) {
				margin-top: 40px;
				column-gap: 8px;
			}
			button {
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background-color: transparent;
				border: 1px solid #4e4f6e;
				@media screen and (max-width: 1023px) {
					width: 7px;
					height: 7px;
				}
			}
			button.active {
				background-color: $bg-color-accent;
				border: transparent;
			}
		}
	}
}

.faq {
	width: 60%;
	margin: auto;
	padding-top: 144px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	@media screen and (max-width: 1439px) {
		width: 70%;
	}
	@media screen and (max-width: 1023px) {
		width: 90%;
	}
	&__subtitle {
		@extend %orange-subtitle;
	}
	&__title {
		@extend %text-title;
		color: $text-light;
	}
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
	}
	.accordion-item {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 1px solid #3a3c56;

		.accordion-header {
			@extend %text-logo;
			background-color: transparent;
			.accordion-button {
				@extend %text-logo;
				outline: none;
				padding: 50px;
				box-shadow: none;
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			.accordion-button:not(collapsed) {
				background-color: #fff;
				color: $text-dark;
				box-shadow: none;
			}
			.accordion-button.collapsed {
				background-color: transparent;
				color: $text-light;
				box-shadow: none;
			}
			.accordion-button::after {
				content: url(/assets/images/about/down-icon.svg);
				width: auto;
				height: auto;
				background-image: none;
			}
		}
		.accordion-body {
			@extend %text-explanation;
			background-color: #fff;
			padding: 0 50px 50px 50px;
		}
	}
}

.partners-gallery {
	padding-top: 117px;
	padding-bottom: 123px;
	width: 80%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 1023px) {
		width: 85%;
		column-gap: 70px;
		row-gap: 50px;
		justify-content: space-evenly;
		padding: 90px 0 90px 0;
	}
	@media screen and (max-width: 767px) {
		width: 90%;
		padding: 118px 0 130px 0;
		row-gap: 44px;
	}
}

.aside {
	display: flex;
	background-color: $bg-color-light;
	width: 100%;
}

.aside-content {
	width: 80%;
	margin: 5% auto;
	background-color: $bg-color-accent;
	display: flex;
	border-radius: 6px;
	padding: 5%;
	&__article {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		@extend %title-section;
		color: $text-light;
		width: 80%;
	}
	&__text {
		@extend %text-explanation;
		color: $text-light-gray;
		width: 90%;
	}
	&__image {
		flex-basis: 50%;
		align-self: center;
		display: flex;
		justify-content: center;
	}
	&__img-item {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
}

.footer {
	background-color: $bg-color-light;
	width: 100%;
	.footer-navbar {
		margin: 0 10% 5% 10%;
		width: 80%;
		display: grid;
		grid-template-areas: "footer-name footer-navbar__menu footer-navbar__service footer-navbar__social";
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		align-content: start;
		.footer-name {
			&__headline {
				@extend %text-logo;
				color: $text-dark;
				padding-top: 5%;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&__menu {
		}
		&__service {
		}
		&__list {
			list-style-type: none;
		}
		&__item {
		}
		&__title {
			@extend %orange-subtitle;
			width: 100%;
			height: 100%;
			display: block;
			padding-bottom: 5%;
			padding-top: 5%;
		}
		&__link {
			text-decoration: none;
			@extend %text-explanation;
			color: $text-dark;
		}

		&__social {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: flex-start;
			justify-content: flex-end;
			.social-item1,
			.social-item2,
			.social-item3 {
				width: 50px;
				height: 50px;
				margin-left: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: url(/assets/images/oval.svg);
				background-size: 100%;
				background-position: center;
			}
			.social-item1,
			.social-item2,
			.social-item3:hover {
				cursor: pointer;
			}
		}
	}
}
.divider {
	width: 80%;
	height: 2px;
	margin: auto;
	background-color: #f3d1bf;
	border: none;
}

.copyright {
	&__text {
		width: 100%;
		@extend %text-explanation;
	}
}

.footer-end {
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		list-style-type: none;
		column-gap: 10%;
	}
	&__item {
	}
	&__link {
		text-decoration: none;
		@extend %text-explanation;
		color: $text-dark;
	}
}
