@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  background-color: #28293e;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 16px 0 104px;
}
@media (max-width: 1023px) {
  .header__navigation {
    width: 85%;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    width: 90%;
    padding-bottom: 80px;
  }
}
.header__button {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
}
.header__button:hover {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .header__button {
    display: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.logo-container__icon {
  width: 48px;
  height: 48px;
}
.logo-container__icon img {
  width: 100%;
  height: 100%;
}
.logo-container__name {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
}

.menu-container {
  min-width: 50%;
}
@media (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu__item-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
  .burger-menu__burger-checkbox {
    opacity: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span {
    width: 100%;
    transform: rotate(45deg);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger {
    border: none;
  }
  .burger-menu__burger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3019607843);
    border-radius: 6px;
  }
  .burger-menu__burger:hover {
    cursor: pointer;
  }
  .burger-menu__burger > span, .burger-menu__burger > span::before, .burger-menu__burger > span::after {
    position: absolute;
    left: 16px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d8d8d8;
    border-radius: 1px;
    transition-duration: 0.25s;
  }
  .burger-menu__burger > span::before {
    content: "";
    left: 0;
    top: -8px;
  }
  .burger-menu__burger > span::after {
    content: "";
    left: 0;
    top: 8px;
  }
  .burger-menu .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 60px;
    padding-top: 60px;
    background-color: #28293e;
    transition-duration: 0.25s;
  }
  .burger-menu .menu__item {
    display: block;
    transition-duration: 0.25s;
  }
}

.body {
  background-color: #fdf0e9;
}

.header-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}
@media (max-width: 767px) {
  .header-content {
    row-gap: 12px;
  }
}
.header-content__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  font-weight: 800;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 767px) {
  .header-content__title {
    font-size: 56px;
    line-height: 114%;
  }
}
.header-content__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6392156863);
  width: 570px;
  text-align: center;
  margin-bottom: 66px;
}
@media (max-width: 767px) {
  .header-content__text {
    width: 329px;
    margin-bottom: 87px;
  }
}

.main__block {
  display: flex;
  flex-direction: column;
}
.main__block--light {
  background-color: #fdf0e9;
}
.main__block--dark {
  background-color: #28293e;
}

.about {
  width: 80%;
  margin: auto;
  padding-top: 76px;
  padding-bottom: 113px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 1fr min-content;
  row-gap: 20px;
}
@media (max-width: 1023px) {
  .about {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .about {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 81px;
    row-gap: 30px;
  }
}
.about__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
  grid-row: 1/2;
  grid-column: 1/2;
}
.about__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
  width: 417px;
  grid-row: 2/3;
  grid-column: 1/2;
}
@media (max-width: 1439px) {
  .about__title {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .about__title {
    width: 100%;
  }
}
.about__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
  width: 100%;
  padding-left: 15px;
}
.about__text--first {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
}
@media (max-width: 767px) {
  .about__text--first {
    padding: 15px 0 15px 0;
  }
}
.about__text--second {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .about__text--second {
    padding: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto 128px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  box-sizing: content-box;
}
@media (max-width: 1023px) {
  .gallery {
    width: 85%;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .gallery {
    width: 90%;
    row-gap: 17px;
    margin-bottom: 88px;
  }
}
.gallery__container {
  flex-basis: 50%;
}

.video-section__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .image-section {
    gap: 17px;
  }
}
.image-section__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.features {
  width: 80%;
  margin: auto;
}
@media (max-width: 1023px) {
  .features {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .features {
    width: 90%;
  }
}
.features__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 1439px) {
  .features__content {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 1023px) {
  .features__content {
    flex-direction: column;
    align-items: stretch;
    row-gap: 32px;
  }
}

.info-features {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 370px;
}
@media (max-width: 1439px) {
  .info-features {
    max-width: 300px;
  }
}
@media (max-width: 1023px) {
  .info-features {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .info-features {
    row-gap: 16px;
  }
}
.info-features__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .info-features__subtitle {
    margin-bottom: 14px;
  }
}
.info-features__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #391400;
}
.info-features__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
}

.card-info {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  .card-info {
    flex-direction: column;
  }
}
.card-info__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 25px;
  border: 1px solid #f3d1bf;
}
.card-info__box--first {
  padding: 48px;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  box-shadow: 0 32px 64px 0 rgba(57, 20, 0, 0.04);
  max-width: 336px;
  max-height: 336px;
}
@media (max-width: 1439px) {
  .card-info__box--first {
    min-width: 250px;
    min-height: 250px;
    padding: 40px;
  }
}
@media (max-width: 1023px) {
  .card-info__box--first {
    min-width: 100%;
    border-radius: 6px 6px 0 0;
  }
}
.card-info__box--second {
  padding: 105px 48px 48px 48px;
  border-left: none;
  border-radius: 0 6px 6px 0;
  max-width: 336px;
  max-height: 272px;
}
@media (max-width: 1439px) {
  .card-info__box--second {
    min-width: 150px;
    min-height: 250px;
    padding: 40px;
  }
}
@media (max-width: 1023px) {
  .card-info__box--second {
    min-width: 100%;
    border-radius: 0 0 6px 6px;
    justify-content: flex-end;
    padding-top: 105px;
    min-height: 100%;
    border: 1px solid #f3d1bf;
  }
}
.card-info__image {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1439px) {
  .card-info__image {
    display: none;
  }
}
@media (max-width: 1023px) {
  .card-info__image {
    display: block;
  }
}
.card-info__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #391400;
}
.card-info__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
}

.number-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 144px 0 128px;
  border-radius: 6px;
  max-height: 30%;
}
@media (max-width: 1439px) {
  .number-info {
    height: 150px;
    margin: 100px 0;
  }
}
@media (max-width: 1023px) {
  .number-info {
    margin: 50px 0;
  }
}
@media (max-width: 767px) {
  .number-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 81px 0;
  }
}
.number-info__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
  border: 1px solid #f3d1bf;
  row-gap: 10px;
}
.number-info__box--borderless {
  border-left: transparent;
}
@media screen and (max-width: 1439px) {
  .number-info__box {
    align-items: center;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .number-info__box {
    align-items: flex-start;
    padding: 47px;
  }
  .number-info__box--borderless {
    border-top: transparent;
    border-left: 1px solid #f3d1bf;
  }
}
.number-info__number {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
}
@media (max-width: 1439px) {
  .number-info__number {
    font-size: 35px;
  }
}
.number-info__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #391400;
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 80%;
  padding-top: 92px;
  margin: auto;
}
@media (max-width: 1023px) {
  .team {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .team {
    width: 90%;
  }
}
.team__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
}
.team__title {
  width: 50%;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .team__title {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .team__title {
    font-size: 40px;
  }
}
.team__gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
  padding-top: 44px;
}
@media (max-width: 1439px) {
  .team__gallery {
    gap: 30px;
  }
}

.team-member__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 1439px) {
  .team-member__item {
    min-width: 45%;
  }
}
@media (max-width: 767px) {
  .team-member__item {
    min-width: 100%;
  }
}
.team-member__img-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 270px;
  min-height: 275px;
  border: 1px solid #3a3c56;
  border-radius: 6px;
}
.team-member__name {
  padding-top: 25px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .team-member__name {
    text-align: center;
  }
}
.team-member__position {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6392156863);
}
@media (max-width: 1439px) {
  .team-member__position {
    text-align: center;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 111px;
  row-gap: 20px;
}
@media (max-width: 1023px) {
  .testimonials {
    width: 85%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .testimonials {
    width: 90%;
    margin: auto;
  }
}
.testimonials__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
}
.testimonials__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
  color: #ffffff;
  margin-bottom: 44px;
  max-width: 394px;
  text-align: center;
}
@media (max-width: 1023px) {
  .testimonials__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.carousel {
  width: 60%;
  height: 40%;
}
@media (max-width: 1439px) {
  .carousel {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .carousel {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .carousel {
    width: 100%;
    margin: 0;
  }
}
.carousel .carousel-indicators {
  position: static;
  margin-top: 64px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1023px) {
  .carousel .carousel-indicators {
    margin-top: 40px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.carousel .carousel-indicators button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #4e4f6e;
}
@media (max-width: 1023px) {
  .carousel .carousel-indicators button {
    width: 7px;
    height: 7px;
  }
}
.carousel .carousel-indicators button.active {
  background-color: #ef6d58;
  border: transparent;
}

.faq {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 60%;
  margin: 144px auto 0;
}
@media (max-width: 1439px) {
  .faq {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .faq {
    width: 90%;
  }
}
.faq__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
}
.faq__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
  color: #ffffff;
}
.faq__contact {
  display: none;
}
@media (max-width: 767px) {
  .faq__contact {
    display: block;
  }
}
@media (max-width: 767px) {
  .faq__link {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 200%;
    color: #ffffff;
    color: #ffffff;
  }
}
.faq__text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6392156863);
}
.faq .accordion-item {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #3a3c56;
}
.faq .accordion-item .accordion-header {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  background-color: transparent;
}
.faq .accordion-item .accordion-header .accordion-button {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  outline: none;
  padding: 50px;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button {
  justify-content: space-between;
}
.faq .accordion-item .accordion-header .accordion-button:not(collapsed) {
  background-color: #fff;
  color: #391400;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button.collapsed {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button::after {
  content: url("../../images/about/down-icon.svg");
  width: auto;
  height: auto;
  background-image: none;
}
@media (max-width: 767px) {
  .faq .accordion-item .accordion-header .accordion-button::after {
    margin-left: 30px;
  }
}
.faq .accordion-item .accordion-body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
  background-color: #fff;
  padding: 0 50px 50px 50px;
}

.partners-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 117px 0 123px;
  width: 80%;
  margin: auto;
}
@media (max-width: 1023px) {
  .partners-gallery {
    width: 85%;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 50px;
    justify-content: space-evenly;
    padding: 90px 0;
  }
}
@media (max-width: 767px) {
  .partners-gallery {
    width: 90%;
    padding: 118px 0 130px;
    row-gap: 44px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}

.aside {
  width: 80%;
  margin: 111px auto 92px;
}
@media (max-width: 1023px) {
  .aside {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .aside {
    width: 90%;
    margin: 79px auto 105px;
  }
}
.aside .aside-content {
  display: grid;
  grid-template-areas: "article image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch;
  align-content: space-between;
  gap: 56px;
  min-height: 544px;
  padding: 0 100px 0;
  border-radius: 6px;
  background-color: #ef6d58;
}
@media (max-width: 1023px) {
  .aside .aside-content {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: space-between;
    gap: 37px;
    min-height: 736px;
    padding: 32px 28px 48px;
  }
}
.aside .aside-content__article {
  display: grid;
  grid-area: article;
  padding-top: 96px;
}
@media (max-width: 1023px) {
  .aside .aside-content__article {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    padding: 0;
  }
}
.aside .aside-content__headline {
  min-height: 192px;
  margin-bottom: 28px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 1023px) {
  .aside .aside-content__headline {
    min-height: 144px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .aside .aside-content__headline {
    min-height: auto;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: #391400;
    color: #ffffff;
  }
}
.aside .aside-content__text {
  min-height: 66px;
  margin-bottom: 34px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6392156863);
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1023px) {
  .aside .aside-content__text {
    margin-bottom: 21px;
  }
}
.aside .aside-content__button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  width: 154px;
  margin-bottom: 80px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  border: none;
  background-color: #ffffff;
}
.aside .aside-content__button:hover {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .aside .aside-content__button {
    align-self: flex-start;
    margin-bottom: 0;
  }
}
.aside .aside-content__image {
  grid-area: image;
  width: 100%;
  max-height: 100%;
  margin: auto;
  background-position: center;
}
@media (max-width: 1023px) {
  .aside .aside-content__image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
.aside .aside-content__image .image-item {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
}
.footer .footer-navbar {
  display: grid;
  grid-template-areas: "footer-name footer-navbar__menu footer-navbar__service footer-navbar__social";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-content: start;
  width: 80%;
  margin: auto;
  margin-bottom: 68px;
}
@media (max-width: 1023px) {
  .footer .footer-navbar {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar {
    grid-template-areas: "footer-name" "footer-navbar__menu" "footer-navbar__service" "footer-navbar__social";
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    gap: 48px;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar__menu, .footer .footer-navbar__service {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar__menu-items, .footer .footer-navbar__service-items {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .footer .footer-navbar .footer-name {
    display: flex;
    justify-self: center;
  }
}
.footer .footer-navbar .footer-name__headline {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer .footer-navbar .menu-item,
.footer .footer-navbar .service-item {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1023px) {
  .footer .footer-navbar .menu-item,
  .footer .footer-navbar .service-item {
    text-align: center;
  }
}
.footer .footer-navbar .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 1023px) {
  .footer .footer-navbar .social {
    justify-content: center;
  }
}
.footer .footer-navbar .social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-image: url("../../images/oval.svg");
  background-size: 100%;
  background-position: center;
}
.footer .footer-navbar .social__item:hover {
  cursor: pointer;
}
.footer .footer-end {
  display: grid;
  grid-template-areas: "footer-end__rights footer-end__navbar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 80%;
  margin: auto;
  padding: 52px 0 52px;
}
@media (max-width: 1023px) {
  .footer .footer-end {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .footer .footer-end {
    grid-template-areas: "footer-end__rights" "footer-end__navbar";
    grid-template-columns: 1fr;
    justify-content: stretch;
    width: 90%;
  }
}
.footer .footer-end__rights {
  grid-area: footer-end__rights;
  align-self: start;
  width: 100%;
  margin: auto;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 767px) {
  .footer .footer-end__rights {
    width: 198px;
    text-align: center;
  }
}
.footer .footer-end__navbar {
  grid-area: footer-end__navbar;
}
@media (max-width: 767px) {
  .footer .footer-end__navbar {
    padding-top: 32px;
  }
}
.footer .footer-end__navbar .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 68px;
  width: 100%;
}
@media (max-width: 767px) {
  .footer .footer-end__navbar .nav {
    justify-content: space-around;
    gap: 10px;
  }
}
.footer .footer-end__navbar .nav__link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: #391400;
  letter-spacing: 0px;
  text-align: right;
}

.text-h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
@media (max-width: 1023px) {
  .text-h3 {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #391400;
  }
}

.text-h4 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
}

.text-h5 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
  text-align: left;
}

.text-big {
  padding: 24px 0 19px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #391400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.line {
  margin: auto;
  width: 80%;
  height: 1px;
  background-color: #f3d1bf;
  border: none;
}
@media screen and (max-width: 1023px) {
  .line {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .line {
    width: 90%;
  }
}/*# sourceMappingURL=about.css.map */