@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.faq .accordion-item .accordion-header .accordion-button, .faq .accordion-item .accordion-header, .team .team-gallery__name, .features .content-container .card2 .card-title, .features .content-container .card-box .card1 .card-title, .logo-container__name {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.faq__subtitle, .testimonials__subtitle, .team .team-subtitle, .features .content-container .features-content .features-subtitle, .about__subtitle {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
}

.header-content__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 72px;
  font-weight: 800;
  line-height: 111%;
  letter-spacing: -0.03em;
}

.features .number-container .text-box__text, .features .content-container .features-content .features-title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #391400;
}

.faq__title, .features .number-container .text-box__number {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
}

.faq .accordion-item .accordion-body, .faq__text, .team .team-gallery__job, .features .content-container .card2 .card-text, .features .content-container .card-box .card1 .card-text, .features .content-container .features-content .features-text, .about__text2, .about__text1, .header-content__text, .menu__item-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: rgba(57, 20, 0, 0.64);
}

.testimonials__title, .team .team-title, .about__title {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #28293e;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 16px 0 104px;
}
@media screen and (max-width: 1023px) {
  .header__navigation {
    width: 85%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation {
    width: 90%;
    padding-bottom: 80px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.logo-container__icon {
  width: 48px;
  height: 48px;
}
.logo-container__icon img {
  width: 100%;
  height: 100%;
}
.logo-container__name {
  color: #fff;
}

.menu-container {
  min-width: 50%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
  .burger-menu__burger-checkbox {
    opacity: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span {
    width: 100%;
    transform: rotate(45deg);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger {
    border: none;
  }
  .burger-menu__burger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
  }
  .burger-menu__burger:hover {
    cursor: pointer;
  }
  .burger-menu__burger > span, .burger-menu__burger > span::before, .burger-menu__burger > span::after {
    position: absolute;
    left: 16px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d8d8d8;
    border-radius: 1px;
    transition-duration: 0.25s;
  }
  .burger-menu__burger > span::before {
    content: "";
    left: 0;
    top: -8px;
  }
  .burger-menu__burger > span::after {
    content: "";
    left: 0;
    top: 8px;
  }
  .burger-menu .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0;
    padding: 60px 0;
    background-color: #28293e;
    transition-duration: 0.25s;
    margin-bottom: 0;
    padding-left: 0;
  }
  .burger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    transition-duration: 0.25s;
  }
}

.form-button {
  align-self: center;
}
.form-button__contact {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
}
.form-button__contact:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .form-button__contact {
    display: none;
  }
}
.form-button__load {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  width: 170px;
  background-color: #fff;
  color: #391400;
  box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
}
.form-button__load:hover {
  cursor: pointer;
}

.header-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}
@media screen and (max-width: 767px) {
  .header-content {
    row-gap: 12px;
  }
}
.header-content__title {
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .header-content__title {
    font-size: 56px;
    line-height: 114%;
  }
}
.header-content__text {
  color: rgba(255, 255, 255, 0.64);
  width: 570px;
  text-align: center;
  margin-bottom: 66px;
}
@media screen and (max-width: 767px) {
  .header-content__text {
    width: 329px;
    margin-bottom: 87px;
  }
}

.main {
  flex-grow: 1;
}

.main-block1 {
  background-color: #fdf0e9;
  display: flex;
  flex-direction: column;
}

.about {
  width: 80%;
  margin: auto;
  padding-top: 76px;
  padding-bottom: 113px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 1fr min-content;
  row-gap: 20px;
}
@media screen and (max-width: 1023px) {
  .about {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .about {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 81px;
    row-gap: 30px;
  }
}
.about__subtitle {
  grid-row: 1/2;
  grid-column: 1/2;
}
.about__title {
  width: 417px;
  grid-row: 2/3;
  grid-column: 1/2;
}
@media screen and (max-width: 1439px) {
  .about__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .about__title {
    width: 100%;
  }
}
.about__text1 {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
  width: 100%;
  padding-left: 15px;
}
@media screen and (max-width: 767px) {
  .about__text1 {
    padding: 15px 0 15px 0;
  }
}
.about__text2 {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 100%;
  margin-bottom: 0;
  padding-left: 15px;
}
@media screen and (max-width: 767px) {
  .about__text2 {
    padding: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 128px;
  box-sizing: content-box;
}
@media screen and (max-width: 1023px) {
  .gallery {
    width: 85%;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .gallery {
    width: 90%;
    row-gap: 17px;
    padding-bottom: 88px;
  }
}
.gallery .video-container {
  flex-basis: 50%;
}
.gallery .video-container .video-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.gallery .image-container {
  flex-basis: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .gallery .image-container {
    gap: 17px;
  }
}
.gallery .image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.features {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  .features {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .features {
    width: 90%;
  }
}
.features .content-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width: 1439px) {
  .features .content-container {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media screen and (max-width: 1023px) {
  .features .content-container {
    flex-direction: column;
    align-items: stretch;
    row-gap: 32px;
  }
}
.features .content-container .features-content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 370px;
}
@media screen and (max-width: 1439px) {
  .features .content-container .features-content {
    max-width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .features .content-container .features-content {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .features .content-container .features-content {
    row-gap: 16px;
  }
}
.features .content-container .features-content .features-subtitle {
  padding-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .features .content-container .features-content .features-subtitle {
    padding-bottom: 14px;
  }
}
.features .content-container .card-box {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1023px) {
  .features .content-container .card-box {
    flex-direction: column;
  }
}
.features .content-container .card-box .card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 25px;
  padding: 48px;
  border: 1px solid #28293e;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  box-shadow: 0 32px 64px 0 rgba(57, 20, 0, 0.04);
  max-width: 336px;
  max-height: 336px;
}
@media screen and (max-width: 1439px) {
  .features .content-container .card-box .card1 {
    min-width: 250px;
    min-height: 250px;
    padding: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .features .content-container .card-box .card1 {
    min-width: 100%;
    border: 1px solid #f3d1bf;
    border-radius: 6px 6px 0 0;
  }
}
.features .content-container .card-box .card1 .card-image {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1439px) {
  .features .content-container .card-box .card1 .card-image {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .features .content-container .card-box .card1 .card-image {
    display: block;
  }
}
.features .content-container .card-box .card1 .card-title {
  color: #391400;
}
.features .content-container .card2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 25px;
  padding: 105px 48px 48px 48px;
  border: 1px solid #28293e;
  border-left: none;
  border-radius: 0 6px 6px 0;
  max-width: 336px;
  max-height: 272px;
}
@media screen and (max-width: 1439px) {
  .features .content-container .card2 {
    min-width: 150px;
    min-height: 250px;
    padding: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .features .content-container .card2 {
    min-width: 100%;
    border: 1px solid #f3d1bf;
    border-radius: 0 0 6px 6px;
    justify-content: flex-end;
    padding-top: 105px;
    min-height: 100%;
  }
}
.features .content-container .card2 .card-title {
  color: #391400;
}
.features .number-container {
  margin-top: 144px;
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 1px solid #28293e;
  border-radius: 6px;
  max-height: 30%;
}
@media screen and (max-width: 1439px) {
  .features .number-container {
    height: 150px;
    margin: 100px 0 100px 0;
  }
}
@media screen and (max-width: 1023px) {
  .features .number-container {
    border: 1px solid #f3d1bf;
    margin: 50px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .features .number-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 81px 0 81px 0;
  }
}
.features .number-container .text-box {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #28293e;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 50px;
  row-gap: 10px;
}
@media screen and (max-width: 1439px) {
  .features .number-container .text-box {
    padding: 0;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .features .number-container .text-box {
    border: 1px solid #f3d1bf;
  }
}
@media screen and (max-width: 767px) {
  .features .number-container .text-box {
    align-items: flex-start;
    padding: 47px;
  }
}
@media screen and (max-width: 1439px) {
  .features .number-container .text-box__number {
    font-size: 35px;
  }
}
.features #border-none {
  border-right: transparent;
}

.main-block2 {
  background-color: #28293e;
  display: flex;
  flex-direction: column;
}

.team {
  width: 80%;
  padding-top: 92px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 1023px) {
  .team {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .team {
    width: 90%;
  }
}
.team .team-title {
  width: 50%;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .team .team-title {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team .team-title {
    font-size: 40px;
  }
}
.team .team-gallery {
  margin-top: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1439px) {
  .team .team-gallery {
    gap: 30px;
  }
}
.team .team-gallery__member {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 1439px) {
  .team .team-gallery__member {
    min-width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .team .team-gallery__member {
    min-width: 100%;
  }
}
.team .team-gallery__box {
  border: 1px solid #3a3c56;
  border-radius: 6px;
  min-width: 270px;
  min-height: 275px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.team .team-gallery__name {
  padding-top: 25px;
  color: #fff;
}
@media screen and (max-width: 1439px) {
  .team .team-gallery__name {
    text-align: center;
  }
}
.team .team-gallery__job {
  color: rgba(255, 255, 255, 0.64);
}
@media screen and (max-width: 1439px) {
  .team .team-gallery__job {
    text-align: center;
  }
}

.testimonials {
  width: 100%;
  padding-top: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
@media screen and (max-width: 1023px) {
  .testimonials {
    width: 85%;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .testimonials {
    width: 90%;
    margin: auto;
  }
}
.testimonials__title {
  color: #fff;
  padding-bottom: 44px;
  max-width: 394px;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .testimonials__title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
  }
}
.testimonials .carousel {
  width: 60%;
  height: 40%;
}
@media screen and (max-width: 1439px) {
  .testimonials .carousel {
    width: 70%;
  }
}
@media screen and (max-width: 1023px) {
  .testimonials .carousel {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .testimonials .carousel {
    width: 100%;
    margin: 0;
  }
}
.testimonials .carousel .carousel-indicators {
  position: static;
  margin-top: 64px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1023px) {
  .testimonials .carousel .carousel-indicators {
    margin-top: 40px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.testimonials .carousel .carousel-indicators button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #4e4f6e;
}
@media screen and (max-width: 1023px) {
  .testimonials .carousel .carousel-indicators button {
    width: 7px;
    height: 7px;
  }
}
.testimonials .carousel .carousel-indicators button.active {
  background-color: #ef6d58;
  border: transparent;
}

.faq {
  width: 60%;
  margin: auto;
  padding-top: 144px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (max-width: 1439px) {
  .faq {
    width: 70%;
  }
}
@media screen and (max-width: 1023px) {
  .faq {
    width: 90%;
  }
}
.faq__title {
  color: #fff;
}
.faq__contact {
  display: none;
}
@media screen and (max-width: 767px) {
  .faq__contact {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .faq__link {
    font-family: "Epilogue", sans-serif;
    font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
    font-style: normal;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
  }
}
.faq__text {
  color: rgba(255, 255, 255, 0.64);
}
.faq .accordion-item {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #3a3c56;
}
.faq .accordion-item .accordion-header {
  background-color: transparent;
}
.faq .accordion-item .accordion-header .accordion-button {
  outline: none;
  padding: 50px;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button:not(collapsed) {
  background-color: #fff;
  color: #391400;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button.collapsed {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button::after {
  content: url(/assets/images/about/down-icon.svg);
  width: auto;
  height: auto;
  background-image: none;
}
@media screen and (max-width: 767px) {
  .faq .accordion-item .accordion-header .accordion-button::after {
    margin-left: 30px;
  }
}
.faq .accordion-item .accordion-body {
  background-color: #fff;
  padding: 0 50px 50px 50px;
}

.partners-gallery {
  padding-top: 117px;
  padding-bottom: 123px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .partners-gallery {
    width: 85%;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 50px;
    justify-content: space-evenly;
    padding: 90px 0 90px 0;
  }
}
@media screen and (max-width: 767px) {
  .partners-gallery {
    width: 90%;
    padding: 118px 0 130px 0;
    row-gap: 44px;
  }
}

.aside {
  padding-top: 111px;
  padding-bottom: 92px;
  width: 100%;
  background-color: #fdf0e9;
}
@media screen and (max-width: 767px) {
  .aside {
    padding-top: 79px;
    padding-bottom: 105px;
  }
}

.aside-content {
  width: 80%;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 544px;
  display: grid;
  grid-template-areas: "aside-content__article aside-content__image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch;
  align-content: space-between;
  gap: 56px;
  border-radius: 6px;
  background-color: #ef6d58;
}
@media screen and (max-width: 1023px) {
  .aside-content {
    width: 85%;
    padding: 32px 28px 48px;
    max-height: 736px;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: space-between;
    gap: 37px;
  }
}
@media screen and (max-width: 767px) {
  .aside-content {
    width: 90%;
  }
}
.aside-content__article {
  padding-top: 96px;
  display: grid;
  grid-area: aside-content__article;
}
@media screen and (max-width: 1023px) {
  .aside-content__article {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
  }
}
.aside-content__headline {
  margin-bottom: 28px;
  min-height: 192px;
  font-family: "Epilogue", sans-serif;
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
}
@media screen and (max-width: 1023px) {
  .aside-content__headline {
    min-height: 144px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .aside-content__headline {
    min-height: auto;
    font-family: "Epilogue", sans-serif;
    color: #391400;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  }
}
.aside-content__text {
  padding-bottom: 34px;
  min-height: 66px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 1023px) {
  .aside-content__text {
    padding-bottom: 21px;
  }
}
.aside-content__input {
  padding-bottom: 80px;
  display: flex;
  align-self: flex-end;
}
@media screen and (max-width: 1023px) {
  .aside-content__input {
    padding: 0;
    align-self: flex-start;
  }
}
.aside-content__button {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  border: none;
  background: #fff;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.aside-content__button:hover {
  cursor: pointer;
}
.aside-content__image {
  margin: auto;
  grid-area: aside-content__image;
  -o-object-fit: fill;
     object-fit: fill;
  background-position: center;
}
@media screen and (max-width: 1023px) {
  .aside-content__image {
    display: flex;
    flex-grow: 1;
  }
}

.image-item {
  width: 100%;
  height: auto;
  align-self: center;
}
@media screen and (max-width: 1023px) {
  .image-item {
    width: 100%;
    height: auto;
  }
}

.footer {
  width: 100%;
  background-color: #fdf0e9;
}

.footer-navbar {
  margin: auto;
  padding-bottom: 68px;
  width: 80%;
  display: grid;
  grid-template-areas: "footer-name footer-navbar__menu footer-navbar__service footer-navbar__social";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-content: start;
}
@media screen and (max-width: 1023px) {
  .footer-navbar {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar {
    width: 90%;
    padding-bottom: 64px;
    grid-template-areas: "footer-name" "footer-navbar__menu" "footer-navbar__service" "footer-navbar__social";
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    gap: 48px;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar__menu, .footer-navbar__service {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar__menu-items, .footer-navbar__service-items {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-name {
    display: flex;
    justify-self: center;
  }
}
.footer-name__headline {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.menu-item,
.service-item {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .menu-item,
  .service-item {
    text-align: center;
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .social {
    justify-content: center;
  }
}
.social__item {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/oval.svg);
  background-size: 100%;
  background-position: center;
}

.footer-end {
  margin: auto;
  padding-top: 43px;
  padding-bottom: 52px;
  width: 80%;
  display: grid;
  grid-template-areas: "footer-end__rights footer-end__navbar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
@media screen and (max-width: 1023px) {
  .footer-end {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .footer-end {
    width: 90%;
    grid-template-areas: "footer-end__rights" "footer-end__navbar";
    grid-template-columns: 1fr;
    justify-content: stretch;
  }
}
.footer-end__rights {
  margin: auto;
  width: 100%;
  grid-area: footer-end__rights;
  align-self: start;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer-end__rights {
    width: 198px;
    text-align: center;
  }
}
.footer-end__navbar {
  grid-area: footer-end__navbar;
}
@media screen and (max-width: 767px) {
  .footer-end__navbar {
    padding-top: 32px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 68px;
}
@media screen and (max-width: 767px) {
  .nav {
    justify-content: space-around;
  }
}
.nav__link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
}

.text-h3 {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .text-h3 {
    font-family: "Epilogue", sans-serif;
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.text-h4 {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text-h5 {
  color: #ef6d58;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

.text-big {
  padding-top: 24px;
  padding-bottom: 19px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.line {
  margin: auto;
  width: 80%;
  height: 1px;
  background-color: rgb(243, 209, 191);
  border: none;
}
@media screen and (max-width: 1023px) {
  .line {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .line {
    width: 90%;
  }
}/*# sourceMappingURL=about.css.map */