@import "../vars";
@import "../template";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

.header {
	background-color: $bg-color-dark;
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: auto;
		padding: 16px 0 50px;
		@media screen and (max-width: 1023px) {
			width: 85%;
			padding-bottom: 16px;
		}
		@media screen and (max-width: 767px) {
			width: 90%;
		}
	}
}

.logo-container {
	display: flex;
	align-items: center;
	column-gap: 14px;
	&__icon {
		width: 48px;
		height: 48px;
		@include img-style;
	}
	&__name {
		@extend %text-logo;
		color: $text-light;
	}
}

.menu-container {
	min-width: 50%;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	&__item {
	}
	&__item-link {
		@extend %text-explanation;
		text-decoration: none;
		color: $text-light;
	}
}

.burger-menu {
	display: none;
	@media screen and (max-width: 767px) {
		display: block;

		&__burger-checkbox {
			opacity: 0;
		}
		&__burger-checkbox:checked ~ &__burger > span {
			width: 100%;
			transform: rotate(45deg);
		}
		&__burger-checkbox:checked ~ &__burger > span::before {
			top: 0;
			width: 100%;
			transform: rotate(0);
		}
		&__burger-checkbox:checked ~ &__burger > span::after {
			top: 0;
			width: 100%;
			transform: rotate(90deg);
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ &__burger {
			border: none;
		}
		&__burger {
			position: absolute;
			top: 20px;
			right: 30px;
			z-index: 1;
			display: flex;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 6px;
			@include hover-cursor;
			& > span,
			& > span::before,
			& > span::after {
				position: absolute;
				left: 16px;
				display: block;
				width: 16px;
				height: 2px;
				background-color: #d8d8d8;
				border-radius: 1px;
				transition-duration: 0.25s;
			}

			& > span::before {
				content: "";
				left: 0;
				top: -8px;
			}

			& > span::after {
				content: "";
				left: 0;
				top: 8px;
			}
		}
		.menu {
			position: fixed;
			visibility: hidden;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 300px;
			margin: 0;
			padding: 60px 0;
			background-color: $bg-color-dark;
			transition-duration: 0.25s;
			&__item {
				display: block;
				padding: 12px 24px;
				transition-duration: 0.25s;
			}
		}
	}
}

.form-button {
	&__contact {
		@include button;
		@include hover-cursor;
	}
	@media screen and (max-width: 1023px) {
		display: none;
	}
}
