@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.body {
  background-color: #fdf0e9;
}

.header {
  background-color: #28293e;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 16px 0 104px;
}
@media (max-width: 1023px) {
  .header__navigation {
    width: 85%;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    width: 90%;
    padding-bottom: 80px;
  }
}
.header__button {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
}
.header__button:hover {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .header__button {
    display: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.logo-container__icon {
  width: 48px;
  height: 48px;
}
.logo-container__icon img {
  width: 100%;
  height: 100%;
}
.logo-container__name {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
}

.menu-container {
  min-width: 50%;
}
@media (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu__item-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
  .burger-menu__burger-checkbox {
    opacity: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span {
    width: 100%;
    transform: rotate(45deg);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger {
    border: none;
  }
  .burger-menu__burger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3019607843);
    border-radius: 6px;
  }
  .burger-menu__burger:hover {
    cursor: pointer;
  }
  .burger-menu__burger > span, .burger-menu__burger > span::before, .burger-menu__burger > span::after {
    position: absolute;
    left: 16px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d8d8d8;
    border-radius: 1px;
    transition-duration: 0.25s;
  }
  .burger-menu__burger > span::before {
    content: "";
    left: 0;
    top: -8px;
  }
  .burger-menu__burger > span::after {
    content: "";
    left: 0;
    top: 8px;
  }
  .burger-menu .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 60px;
    padding-top: 60px;
    background-color: #28293e;
    transition-duration: 0.25s;
  }
  .burger-menu .menu__item {
    display: block;
    transition-duration: 0.25s;
  }
}

.header-end {
  width: 100%;
  margin: auto;
  padding: 0 0 66px 0;
}
.header-end__title {
  margin: auto;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  font-weight: 800;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .header-end__title {
    padding: 0;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #391400;
    color: #ffffff;
    text-align: center;
  }
}
.header-end__text {
  width: 570px;
  margin: auto;
  padding-top: 24px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.6392156863);
  text-align: center;
}
@media (max-width: 767px) {
  .header-end__text {
    width: 85%;
    padding-top: 12px;
  }
}

.line {
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: #f3d1bf;
  border: none;
}
@media (max-width: 1023px) {
  .line {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .line {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main hr:first-of-type {
    display: none;
  }
}

.major-articles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-evenly;
  width: 80%;
  margin: auto;
  padding-top: 70px;
}
@media (max-width: 1023px) {
  .major-articles {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .major-articles {
    flex-flow: column wrap;
    justify-content: center;
    width: 90%;
  }
}
.major-articles__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: calc(50% - 15px);
  height: 100%;
  margin-bottom: 68px;
}
@media (max-width: 767px) {
  .major-articles__item {
    width: 100%;
    margin-bottom: 52px;
  }
}
.major-articles__headline {
  min-height: 99px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .major-articles__headline {
    display: inline-block;
    min-height: auto;
    margin-bottom: 15px;
  }
}

.minor-articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 79px;
}
@media (max-width: 1023px) {
  .minor-articles {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .minor-articles {
    flex-flow: column wrap;
    justify-content: stretch;
    width: 90%;
    padding: 0;
  }
}
.minor-articles__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  width: calc(33.3333333333% - 20px);
  height: 100%;
  margin-bottom: 68px;
}
@media (max-width: 767px) {
  .minor-articles__item {
    width: 100%;
    margin-bottom: 52px;
  }
}
.minor-articles__headline {
  min-height: 68px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .minor-articles__headline {
    display: inline-block;
    min-height: auto;
    margin-bottom: 15px;
  }
}

.image {
  display: block;
  overflow: hidden;
  width: auto;
  max-height: 100%;
}
.image__item {
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-position: left;
}
@media (max-width: 767px) {
  .image__item {
    width: 100%;
    height: auto;
  }
}

.load-button {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 170px;
  margin: auto;
  margin-bottom: 66px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  color: #391400;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.0784313725);
  background: #ffffff;
}
.load-button:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .load-button {
    margin-bottom: 52px;
  }
}

.subscribe-form {
  display: grid;
  grid-template-areas: "title input input-button";
  grid-template-columns: 2fr fit-content(370px) 0.5fr;
  width: 80%;
  margin: auto;
  padding: 60px 0 67px;
}
@media (max-width: 1023px) {
  .subscribe-form {
    grid-template-columns: 1fr 1fr 0.5fr;
    width: 85%;
  }
}
@media (max-width: 767px) {
  .subscribe-form {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: 90%;
  }
}
.subscribe-form__title {
  grid-area: title;
}
.subscribe-form__input {
  grid-area: input;
  display: flex;
  justify-self: flex-end;
  width: 370px;
  margin-right: 30px;
  box-sizing: border-box;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  background: #ffffff;
}
@media (max-width: 1023px) {
  .subscribe-form__input {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .subscribe-form__input {
    display: flex;
    margin: 35px 0 16px;
  }
}
.subscribe-form__input-form {
  flex-grow: 1;
  padding: 0;
  border-radius: 6px;
}
.subscribe-form__input-text {
  width: 100%;
  padding: 9px 16px 7px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
  letter-spacing: 0px;
  text-align: left;
  border-style: none;
  border-radius: 6px;
}
.subscribe-form__button {
  grid-area: input-button;
  justify-self: end;
  width: 170px;
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6392156863);
  font-weight: 900;
  color: #391400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.0784313725);
  background-color: #ffffff;
}
.subscribe-form__button:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .subscribe-form__button {
    min-width: 100%;
    padding: 0;
  }
}

.aside {
  width: 80%;
  margin: 111px auto 92px;
}
@media (max-width: 1023px) {
  .aside {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .aside {
    width: 90%;
    margin: 79px auto 105px;
  }
}
.aside .aside-content {
  display: grid;
  grid-template-areas: "article image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch;
  align-content: space-between;
  gap: 56px;
  min-height: 544px;
  padding: 0 100px 0;
  border-radius: 6px;
  background-color: #ef6d58;
}
@media (max-width: 1023px) {
  .aside .aside-content {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: space-between;
    gap: 37px;
    min-height: 736px;
    padding: 32px 28px 48px;
  }
}
.aside .aside-content__article {
  display: grid;
  grid-area: article;
  padding-top: 96px;
}
@media (max-width: 1023px) {
  .aside .aside-content__article {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    padding: 0;
  }
}
.aside .aside-content__headline {
  min-height: 192px;
  margin-bottom: 28px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #391400;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 1023px) {
  .aside .aside-content__headline {
    min-height: 144px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .aside .aside-content__headline {
    min-height: auto;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: #391400;
    color: #ffffff;
  }
}
.aside .aside-content__text {
  min-height: 66px;
  margin-bottom: 34px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6392156863);
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1023px) {
  .aside .aside-content__text {
    margin-bottom: 21px;
  }
}
.aside .aside-content__button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  width: 154px;
  margin-bottom: 80px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  border: none;
  background-color: #ffffff;
}
.aside .aside-content__button:hover {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .aside .aside-content__button {
    align-self: flex-start;
    margin-bottom: 0;
  }
}
.aside .aside-content__image {
  grid-area: image;
  width: 100%;
  max-height: 100%;
  margin: auto;
  background-position: center;
}
@media (max-width: 1023px) {
  .aside .aside-content__image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
.aside .aside-content__image .image-item {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
}
.footer .footer-navbar {
  display: grid;
  grid-template-areas: "footer-name footer-navbar__menu footer-navbar__service footer-navbar__social";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-content: start;
  width: 80%;
  margin: auto;
  margin-bottom: 68px;
}
@media (max-width: 1023px) {
  .footer .footer-navbar {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar {
    grid-template-areas: "footer-name" "footer-navbar__menu" "footer-navbar__service" "footer-navbar__social";
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    gap: 48px;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar__menu, .footer .footer-navbar__service {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer .footer-navbar__menu-items, .footer .footer-navbar__service-items {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .footer .footer-navbar .footer-name {
    display: flex;
    justify-self: center;
  }
}
.footer .footer-navbar .footer-name__headline {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer .footer-navbar .menu-item,
.footer .footer-navbar .service-item {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 1023px) {
  .footer .footer-navbar .menu-item,
  .footer .footer-navbar .service-item {
    text-align: center;
  }
}
.footer .footer-navbar .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 1023px) {
  .footer .footer-navbar .social {
    justify-content: center;
  }
}
.footer .footer-navbar .social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-image: url("../../images/oval.svg");
  background-size: 100%;
  background-position: center;
}
.footer .footer-navbar .social__item:hover {
  cursor: pointer;
}
.footer .footer-end {
  display: grid;
  grid-template-areas: "footer-end__rights footer-end__navbar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 80%;
  margin: auto;
  padding: 52px 0 52px;
}
@media (max-width: 1023px) {
  .footer .footer-end {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .footer .footer-end {
    grid-template-areas: "footer-end__rights" "footer-end__navbar";
    grid-template-columns: 1fr;
    justify-content: stretch;
    width: 90%;
  }
}
.footer .footer-end__rights {
  grid-area: footer-end__rights;
  align-self: start;
  width: 100%;
  margin: auto;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: rgba(57, 20, 0, 0.6392156863);
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 767px) {
  .footer .footer-end__rights {
    width: 198px;
    text-align: center;
  }
}
.footer .footer-end__navbar {
  grid-area: footer-end__navbar;
}
@media (max-width: 767px) {
  .footer .footer-end__navbar {
    padding-top: 32px;
  }
}
.footer .footer-end__navbar .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 68px;
  width: 100%;
}
@media (max-width: 767px) {
  .footer .footer-end__navbar .nav {
    justify-content: space-around;
    gap: 10px;
  }
}
.footer .footer-end__navbar .nav__link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  color: #391400;
  letter-spacing: 0px;
  text-align: right;
}

.text-h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
@media (max-width: 1023px) {
  .text-h3 {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #391400;
  }
}

.text-h4 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #391400;
  letter-spacing: 0px;
  text-align: left;
}

.text-h5 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #ef6d58;
  text-align: left;
}

.text-big {
  padding: 24px 0 19px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #391400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  letter-spacing: 0px;
  color: rgba(57, 20, 0, 0.6392156863);
  text-align: left;
}/*# sourceMappingURL=blog.css.map */