@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.logo-container__name {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.menu__item-link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-size: 16px;
  line-height: 200%;
  color: rgba(57, 20, 0, 0.64);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.text-h3 {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .text-h3 {
    font-family: "Epilogue", sans-serif;
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.text-h4 {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text-h5 {
  color: #ef6d58;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

.text-big {
  padding-top: 24px;
  padding-bottom: 19px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text {
  font-family: "Epilogue", sans-serif;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.line {
  margin: auto;
  width: 80%;
  height: 1px;
  background-color: rgb(243, 209, 191);
  border: none;
}
@media screen and (max-width: 1023px) {
  .line {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .line {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .main hr:first-of-type {
    display: none;
  }
}

.body {
  width: 100%;
  background-color: #fdf0e9;
}

.header {
  background-color: #28293e;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 16px 0 104px;
}
@media screen and (max-width: 1023px) {
  .header__navigation {
    width: 85%;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation {
    width: 90%;
    padding-bottom: 80px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.logo-container__icon {
  width: 48px;
  height: 48px;
}
.logo-container__icon img {
  width: 100%;
  height: 100%;
}
.logo-container__name {
  color: #fff;
}

.menu-container {
  min-width: 50%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
  .burger-menu__burger-checkbox {
    opacity: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span {
    width: 100%;
    transform: rotate(45deg);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::before {
    top: 0;
    width: 100%;
    transform: rotate(0);
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger > span::after {
    top: 0;
    width: 100%;
    transform: rotate(90deg);
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .burger-menu__burger-checkbox:checked ~ .burger-menu__burger {
    border: none;
  }
  .burger-menu__burger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
  }
  .burger-menu__burger:hover {
    cursor: pointer;
  }
  .burger-menu__burger > span, .burger-menu__burger > span::before, .burger-menu__burger > span::after {
    position: absolute;
    left: 16px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: #d8d8d8;
    border-radius: 1px;
    transition-duration: 0.25s;
  }
  .burger-menu__burger > span::before {
    content: "";
    left: 0;
    top: -8px;
  }
  .burger-menu__burger > span::after {
    content: "";
    left: 0;
    top: 8px;
  }
  .burger-menu .menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0;
    padding: 60px 0;
    background-color: #28293e;
    transition-duration: 0.25s;
  }
  .burger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    transition-duration: 0.25s;
  }
}

.form-button__contact {
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.form-button__contact:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .form-button {
    display: none;
  }
}

.header-end {
  margin: auto;
  padding-bottom: 66px;
  width: 100%;
}
.header-end__title {
  margin: auto;
  font-family: "Epilogue", sans-serif;
  color: #fff;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header-end__title {
    padding: 0;
    font-family: "Epilogue", sans-serif;
    color: #fff;
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
    text-align: left;
    text-align: center;
  }
}
.header-end__text {
  margin: auto;
  padding-top: 24px;
  width: 570px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header-end__text {
    padding-top: 12px;
    width: 85%;
  }
}

.major-articles {
  margin: auto;
  padding-top: 70px;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-evenly;
}
@media screen and (max-width: 1023px) {
  .major-articles {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .major-articles {
    width: 90%;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.major-articles__item {
  padding-bottom: 68px;
  width: calc(50% - 15px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .major-articles__item {
    padding-bottom: 52px;
    width: 100%;
  }
}
.major-articles__headline {
  min-height: 99px;
  padding-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .major-articles__headline {
    min-height: auto;
    padding-bottom: 15px;
    display: inline-block;
  }
}

.minor-articles {
  margin: auto;
  padding-top: 79px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .minor-articles {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .minor-articles {
    padding: 0;
    width: 90%;
    flex-flow: column wrap;
    justify-content: stretch;
  }
}
.minor-articles__item {
  padding-bottom: 68px;
  width: calc(33.3333333333% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}
@media screen and (max-width: 767px) {
  .minor-articles__item {
    padding-bottom: 52px;
    width: 100%;
  }
}
.minor-articles__headline {
  min-height: 68px;
  padding-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .minor-articles__headline {
    min-height: auto;
    padding-bottom: 15px;
    display: inline-block;
  }
}

.image {
  width: auto;
  max-height: 100%;
  display: block;
  overflow: hidden;
}

.image img {
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  background-position: left;
}
@media screen and (max-width: 767px) {
  .image img {
    width: 100%;
    height: auto;
  }
}

.load {
  padding-bottom: 80px;
  text-align: center;
}
.load__button {
  max-width: 170px;
  max-height: 48px;
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  background: #fff;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.load__button:hover {
  cursor: pointer;
}

.subscribe-form {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 67px;
  width: 80%;
  display: grid;
  grid-template-areas: "__title __input __input-button";
  grid-template-columns: 2fr fit-content(370px) 0.5fr;
}
@media screen and (max-width: 1023px) {
  .subscribe-form {
    width: 85%;
    grid-template-columns: 1fr 1fr 0.5fr;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-form {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 67px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
  }
}
.subscribe-form__input {
  width: 370px;
  grid-area: __input;
  display: flex;
  justify-self: flex-end;
  box-sizing: border-box;
  border: 1px solid rgb(243, 209, 191);
  border-radius: 6px;
  background: #fff;
}
@media screen and (max-width: 1023px) {
  .subscribe-form__input {
    width: 100%;
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-form__input {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 16px;
    display: flex;
  }
}
.subscribe-form__input-form {
  padding-right: 32px;
  flex-grow: 1;
  border-radius: 6px;
}
.subscribe-form__input-text {
  width: 100%;
  padding: 9px 16px 7px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  border-style: none;
  border-radius: 6px;
}
.subscribe-form__input-button {
  padding-left: 30px;
  grid-area: __input-button;
  justify-self: end;
}
@media screen and (max-width: 767px) {
  .subscribe-form__input-button {
    padding: 0;
  }
}
.subscribe-form__button {
  max-width: 170px;
  max-height: 48px;
  width: 138px;
  height: 48px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-color: transparent;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  background: #fff;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe-form__button:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .subscribe-form__button {
    min-width: 100%;
  }
}

.aside {
  margin: auto;
  padding-top: 111px;
  padding-bottom: 92px;
  width: 80%;
}
@media screen and (max-width: 1023px) {
  .aside {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .aside {
    width: 90%;
    padding-top: 79px;
    padding-bottom: 105px;
  }
}

.aside-content {
  padding-left: 100px;
  padding-right: 100px;
  min-height: 544px;
  display: grid;
  grid-template-areas: "aside-content__article aside-content__image";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch;
  align-content: space-between;
  gap: 56px;
  border-radius: 6px;
  background-color: #ef6d58;
}
@media screen and (max-width: 1023px) {
  .aside-content {
    padding: 32px 28px 48px;
    max-height: 736px;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: space-between;
    gap: 37px;
  }
}
.aside-content__article {
  padding-top: 96px;
  display: grid;
  grid-area: aside-content__article;
}
@media screen and (max-width: 1023px) {
  .aside-content__article {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
  }
}
.aside-content__headline {
  margin-bottom: 28px;
  min-height: 192px;
  font-family: "Epilogue", sans-serif;
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
}
@media screen and (max-width: 1023px) {
  .aside-content__headline {
    min-height: 144px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .aside-content__headline {
    min-height: auto;
    font-family: "Epilogue", sans-serif;
    color: #391400;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
  }
}
.aside-content__text {
  padding-bottom: 34px;
  min-height: 66px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 1023px) {
  .aside-content__text {
    padding-bottom: 21px;
  }
}
.aside-content__input {
  padding-bottom: 80px;
  display: flex;
  align-self: flex-end;
}
@media screen and (max-width: 1023px) {
  .aside-content__input {
    padding: 0;
    align-self: flex-start;
  }
}
.aside-content__button {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  border: none;
  background: #fff;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.aside-content__button:hover {
  cursor: pointer;
}
.aside-content__image {
  margin: auto;
  grid-area: aside-content__image;
  -o-object-fit: fill;
     object-fit: fill;
  background-position: center;
}
@media screen and (max-width: 1023px) {
  .aside-content__image {
    display: flex;
    flex-grow: 1;
  }
}

.image-item {
  width: 100%;
  height: auto;
  align-self: center;
}
@media screen and (max-width: 1023px) {
  .image-item {
    width: 100%;
    height: auto;
  }
}

.footer {
  width: 100%;
}

.footer-navbar {
  margin: auto;
  padding-bottom: 68px;
  width: 80%;
  display: grid;
  grid-template-areas: "footer-name footer-navbar__menu footer-navbar__service footer-navbar__social";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-content: start;
}
@media screen and (max-width: 1023px) {
  .footer-navbar {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar {
    width: 90%;
    padding-bottom: 64px;
    grid-template-areas: "footer-name" "footer-navbar__menu" "footer-navbar__service" "footer-navbar__social";
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    gap: 48px;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar__menu, .footer-navbar__service {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-navbar__menu-items, .footer-navbar__service-items {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-name {
    display: flex;
    justify-self: center;
  }
}
.footer-name__headline {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.menu-item,
.service-item {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .menu-item,
  .service-item {
    text-align: center;
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .social {
    justify-content: center;
  }
}
.social__item {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/oval.svg);
  background-size: 100%;
  background-position: center;
}

.footer-end {
  margin: auto;
  padding-top: 43px;
  padding-bottom: 52px;
  width: 80%;
  display: grid;
  grid-template-areas: "footer-end__rights footer-end__navbar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
@media screen and (max-width: 1023px) {
  .footer-end {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .footer-end {
    width: 90%;
    grid-template-areas: "footer-end__rights" "footer-end__navbar";
    grid-template-columns: 1fr;
    justify-content: stretch;
  }
}
.footer-end__rights {
  margin: auto;
  width: 100%;
  grid-area: footer-end__rights;
  align-self: start;
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer-end__rights {
    width: 198px;
    text-align: center;
  }
}
.footer-end__navbar {
  grid-area: footer-end__navbar;
}
@media screen and (max-width: 767px) {
  .footer-end__navbar {
    padding-top: 32px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 68px;
}
@media screen and (max-width: 767px) {
  .nav {
    justify-content: space-around;
  }
}
.nav__link {
  font-family: "Epilogue", sans-serif;
  font-weight: 400; /* 400 (Regular), 700 (Bold), 800 (ExtraBold), 900 (Black) */
  font-style: normal;
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
}/*# sourceMappingURL=blog.css.map */